[2018-10-16 19:06] mspears-lbl opened #1 "Database Design - Bedes Terms"
Design tables and data models for bedes atomic terms, and load data from excel spreadsheet.

[2018-10-16 19:06] mspears-lbl opened #2 "Backend API"
Have a documented API (Swagger UI) that can be used instead the mapping UI interface.

[2018-10-16 19:11] mspears-lbl opened #3 "Load existing terms and mappings into database."
Scan existing and future BEDES mapping documents to extract Composite Terms, their constituent Atomic Term Mappings, BEDES Units of Measure, and Native Field Name; and create a master list of these Composite Terms and their set of Atomic Terms

[2018-10-17 15:07] mspears-lbl opened #4 "Capability #1: advanced search."
Support flexible keyword searching of the master list.  Support advanced search of separate term characteristics (e.g., atomic term words, definition words, native field name words, etc.). Ideally, a user would be able to simply input a new native field name and get a list of candidate matching BEDES Atomic Term sets and Composite Terms. This functionality should be available as API calls as well

[2018-10-23 20:45] mspears-lbl opened #5 "Database Design - App Terms"
Design tables/models for representing the app terms, and how those terms link to the bedes terms.  Also load all of the mappings for the current defined applications.

[2018-10-23 21:00] mspears-lbl opened #6 "User authentication."
Build user authentication mechanism, which should:

- allow users to browse existing terms as a Guest
- create user accounts, where each user can build their private set of applications + Bedes Term mappings, and choose whether or not to make those terms available publicly.
-

[2018-10-23 21:01] mspears-lbl opened #7 "Propose New Bedes Terms"
Provide a mechanism for users to propose new Bedes Terms.

[2018-10-23 21:02] #3 closed, assigned to mspears-lbl

[2018-10-23 21:04] mspears-lbl opened #8 "AWS Server Setup"
Setup the AWS server.  What should the host name be?

[2018-10-23 21:05] mspears-lbl opened #9 "Export Bedes Mapping Documents"
Manage existing and future BEDES mapping documents to support archiving on Google Drive, controlled access/sharing, uniform format mapping spreadsheet generation, and up-to-date posting of approved mappings to website

[2018-10-23 21:08] mspears-lbl opened #10 "Capability #2: User interface for managing all applications/terms."
Create a controlled user interface for an underlying repository of all BEDES mapping Composite Terms, constituent Atomic Terms (with live links to online definitions), Units of Measure, Related Application(s) Native Field Name(s).  The interface should support controlled user (password) 1) read-only searching, as well as 2) read/write editing of existing entries and 3) input of new entries (both m

[2019-02-26 00:55] robHitchcock opened #11 "Save results in unknown error"
Trying to Save a new mapping for an existing application returns an "unknown error" message.  However, if I go to another existing application and then return to the desired application the new mapping says "OK".

[2019-02-26 00:56] robHitchcock opened #12 "Import Terms CSV non-functional"
The import CSV list of new terms for an existing application does not seem to do anything.

[2019-02-26 00:58] robHitchcock opened #13 "Odd search results"
Trying to create a new mapping for a new application term - the search for BEDES terms does not return composite terms if I include the entire composite term name, however if I just enter the first word of the desired composite term, it appears in the search return list.

[2019-02-26 21:27] robHitchcock opened #14 "Search return list below window"
If the returned list of search results goes below the bottom of the parent window, it cannot be scrolled to see the bottom of the list.

[2019-02-26 21:38] robHitchcock opened #15 "Include parent Term in search results that return Constrained List options"
Some atomic term searches return duplicate terms that are constrained list options under more than one Constrained List Term (e.g., Project).  The display list of search results needs to include the parent Constrained List term for each returned Term so that we can select the appropriate Term.

[2019-02-27 14:56] jateeter opened #16 "Please add Maalka team to Repository Members"
Please add the Maalka team to gain repo visibility:

hendrime
wteeter
teeterc
rimasgulbinas
arielkotch

thx

[2019-02-27 17:14] jateeter opened #17 "AWS URL?"
Add the AWS server/deployment URL to the repository README.md

[2019-02-27 20:09] #16 closed, assigned to nobody

[2019-03-06 17:15] jateeter opened #18 "Import of (Existing) Composite Terms as SEED"
One shot to load composite terms.

Mapping import structure.

Focus on CPUC application imports.

Upload a SEED of composite terms.

Association to application is an application abstraction issue.

[2019-03-06 21:05] jateeter opened #19 "New Account Creation"
An attempt to create a new account on a local deployment fails.

1 - request a new a account
2 - fill in all fields
3 - press submit
4 - look in the console for the verification href
5 - enter it in browser address
6 - enter verification code

Note in the console log below that Port 4200 is referenced in the verify href.

=== console log ===

2019-03-06T20:58:57.131Z [postman/index.ts] debug: send

[2019-03-07 19:03] robHitchcock opened #20 "Cannot delete unwanted Composite Terms or Application mappings"
Once a Composite Term or Application mapping has been saved to the repository, there does not seem to be any way to delete them.

[2019-03-07 19:05] robHitchcock opened #21 "Application Term mapping unit does not save"
The Unit associated with an Application Term mapping does not save with the term.  For example, I set the CPUC MF Attributes BayREN application term of "Rebate Amount Being Reserved" to a Unit of $ and saved the term.  When I revisit this term, the Unit attribute is blank.

[2019-03-08 20:17] jateeter opened #22 "Feature: Search for Terms tab"
The website dictionary search uses a fuzzie approach. So searching for "Save" and "Savings" return very simular results. The current search tab is strict - returning only "Save" or "Saving" - I think both are useful, but if only one is available, then I think Fuzzie may be preferable.

[2019-03-08 20:24] jateeter opened #23 "Bug: Resource Enumeration"
The enumerations displayed on the "Resource" term seem incorrect (as compared to the dictionary: https://bedes.lbl.gov/bedes-online/resource)

<img width="1020" alt="Screen Shot 2019-03-08 at 1 23 59 PM" src="https://user-images.githubusercontent.com/934513/54053749-80556480-41a5-11e9-8f5f-f2de3ef8e39a.png">

[2019-03-08 20:32] jateeter opened #24 "UX: Import New Terms Modal"
Took me awhile to find the "Check Box" to submit the selected terms back into the composition window. There is a visual change when the first term is selected via check-box. But I was looking for the next term to check and didn't see the completion button changes. When I looked for it, I didn't even see it till I had clicked on 1) submit; and 2) the model close thinking it might save them at that

[2019-03-08 21:10] jateeter opened #25 "UX: Search Term Tab"
A return to the search term tab brings me back to my previous search result; which is fine, but it possibly should also place the thing I searched for in the search box as well.

<img width="1725" alt="Screen Shot 2019-03-08 at 1 41 56 PM" src="https://user-images.githubusercontent.com/934513/54054730-30c46800-41a8-11e9-9a41-fc8c0bc445df.png">

[2019-03-08 21:12] jateeter opened #26 "Bug: Frozen Modal"
I got here from an application specific term and clicking import (maybe - as you can see the screen I came from is hidden, so that may not be right) - but the modal is frozen and a reload took be back to the home screen.

<img width="1603" alt="Screen Shot 2019-03-08 at 2 09 58 PM" src="https://user-images.githubusercontent.com/934513/54056056-273cff00-41ac-11e9-9e11-72d8e2b17a44.png">

[2019-03-08 22:53] TravisWalterLBNL opened #27 "Status is always Ok for all application terms"
When I click on an application and look at the list of application terms, the status column says "Ok" for all of them, whether or not they have been mapped to a BEDES term yet. Am I misunderstanding the status column? If it's not warning me about un-mapped terms, then what is it warning me about? In what situation what status say something other than "Ok"?

[2019-03-08 22:59] TravisWalterLBNL opened #28 "Duplicate application terms shouldn't be allowed"
I created a new application term, then I renamed it to have the same name as an existing application term. When I clicked "Save", I got an error saying "Status: Term already exists", but when I click "Back" to show the list of terms, the term has the duplicated name.

[2019-03-08 23:33] TravisWalterLBNL opened #29 "My application temporarily disappeared"
I added some terms to my application, then clicked "Back to Application List", but my application was not in the list. I logged out and back in again, and my application was back in the list and had all my recently added terms. No data was lost, but for a minute it seemed like it had been.

[2019-03-08 23:50] TravisWalterLBNL opened #30 "Which constrained list is my item in?"
When making a new composite term, I search for something and see it come up as a constrained list option. It would be nice if I could see which constrained list my term is in, and what other items are in that constrained list.

[2019-03-09 00:51] TravisWalterLBNL opened #31 "Difference between "Type" and "Data Type" columns?"
When I search for a term, I get a list with "Type" and "Data Type" columns, but I'm not completely clear on the difference between these two columns.

In some cases I see "Constrained List" in both the "Type" and "Data Type" columns. If "Type" is "Constrained List Option", "Data Type" is blank. Something that is a string or decimal or date gets "BEDES Term" in the "Type" column, but if something i

[2019-03-09 14:16] jateeter opened #32 "Application Tab: CSV File Preferred Format?"
There was some discussion re: the CSV file format used to import on the Application tab. Mike was going to put his test file into the repo.

[2019-03-09 19:45] jateeter opened #33 "[Composite Term Tab] How-To: Save a new composite term"
The "Save" button is never active for me from within the "New+" button page. Is there a special sequence to make it become active?

<img width="1498" alt="Screen Shot 2019-03-09 at 12 41 39 PM" src="https://user-images.githubusercontent.com/934513/54076451-038bbe80-4269-11e9-8f99-af2a123c8e12.png">
<img width="1567" alt="Screen Shot 2019-03-09 at 12 43 28 PM" src="https://user-images.githubusercon

[2019-03-09 20:02] jateeter opened #34 "[Applications Tab] Map to a BEDES Term Behavior"
I not certain of the workflow intended for mapping a single implementation string. I would like to map:

"Off Site Generated Electricity Start Date" to "Resource Boundary" = "Offsite"; "Resource Generation" = "Distributed"; "Resource" = "Electricity"; "Interval Start Time".

I hit the "Map to BEDES Term" button - select the 4 terms for my map. and am left with only "Interval Start Time" (and only

[2019-03-14 01:20] #30 closed, assigned to nobody

[2019-03-14 23:24] robHitchcock opened #35 "User Permissions and Editing Constraints"
User permissions and editing constraints need to be defined and enforced in the Manager.

1. BEDES approved atomic terms - by version.
a. Regular users can search the current version dictionary of approved atomic terms.
b. Admin users can create new and edit/delete existing atomic terms (including list options). New and modified atomic terms will be flagged as pending until the next official BEDES

[2019-03-15 17:19] #34 closed, assigned to nobody

[2019-03-15 17:34] TravisWalterLBNL opened #36 "Remove "Category" column from search results?"
Should the "Category" column be removed from search results? Is it useful? Should the column be there to start with, but then the user should be allowed to hide it?

[2019-03-15 17:42] TravisWalterLBNL opened #37 "Incorrect data type in composite term view"
If I search for the term "Incentive", its shows up as a constrained list option of the constrained list called "Funding Source". However, when I look at the composite term "Project Incentive Funding Amount", the data type of the "Incentive" term is listed as "Constrained List", but it should be "Constrained List Option". It seems this is not the only term with this same issue.

[2019-03-15 18:08] TravisWalterLBNL opened #38 "Export application mappings"
Users should be allowed to export their application mappings to a .csv file. The exact format of this .csv file has yet to be determined.

[2019-03-15 19:04] TravisWalterLBNL opened #40 "Typo in "Save All New AppTerms" button"
In the list of application terms, a button labeled "Saved All New AppTerms" shows up when a user has clicked "New Term" then clicks "Back" without entering anything in the fields.

Preferably, the button should say "Application Terms", but if we want to keep it short, there should at least be a space in between "App" and "Terms".

[2019-03-15 19:14] TravisWalterLBNL opened #41 ""Save All New AppTerms" button doesn't work"
From the application terms list, I clicked "New Term", then clicked "Back" without entering anything. This left an application term called "New App Term" in the list of application terms (with "Term Not Saved" in the Status column) and made the "Save All New AppTerms" button show up. I clicked the button, but I got an error message saying "An unknown error occured, application term(s) not created"

[2019-03-15 19:18] TravisWalterLBNL opened #42 "Unable to save an app term with the name "New App Term""
When I create a new application term and try to save it with the default name "New App Term", I get an error saying "Term already exists", despite there being no such term with that name in my list of application terms.

[2019-03-15 19:45] TravisWalterLBNL opened #43 "Replace "n/a" with nothing in units column?"
In the units column, I think it would be easier to read if we just showed a blank instead of putting "n/a".

[2019-03-19 17:53] #33 closed, assigned to nobody

[2019-03-19 17:56] #19 closed, assigned to mspears-lbl

[2019-03-27 17:22] #32 closed, assigned to mspears-lbl

[2019-03-27 17:36] jateeter opened #46 "CSV Application Terms Import"
When importing a CSV file with an application term of type "Constrained List", the Constrained List options fail to import correctly because of the need to have a mapping defined before the Application Term options are assignable.

The following screenshot results from the import of the file: import-example.csv

<img width="1105" alt="Screen Shot 2019-03-27 at 11 32 20 AM" src="https://user-images

[2019-04-03 14:53] #17 closed, assigned to mspears-lbl

[2019-04-09 16:07] jateeter opened #47 "Question: re: Creating Private Composite Term"
How do I select the appropriate List Option of an Atomic Term when Creating a (Private) Composite Term.

I would like to create a composite term using the atomic terms:
     "Emission Boundary" + "Emissions Factor"

The specific composite term I would like is: "Direct Emissions Factor"

I cannot fine a way to select "Direct" from the list options of "Emission Boundary" to complete the definition o

[2019-04-10 16:09] jateeter opened #48 "Verify Git Repo "README.md" is correct"
Need to verify that the instructions contained in the README.md are valid. I've not tried this since AWS became available and the last time (on Mel's machine) had problems.

[2019-05-01 04:30] #47 closed, assigned to nobody

[2019-05-01 16:42] jateeter opened #50 "Add Current Application Mappings"
Import the following mappings into BEDES-Manager.lbl.gov:

1 - Energy Start Portfolio Manager:
2 - BuildingSynch
3 - HPXML

[2019-05-01 17:47] #27 closed, assigned to nobody

[2019-05-01 17:50] #37 closed, assigned to nobody

[2019-05-03 17:49] #20 closed, assigned to nobody

[2019-05-03 17:50] #14 closed, assigned to mspears-lbl

[2019-05-03 21:04] #21 closed, assigned to nobody

[2019-05-03 21:16] #13 closed, assigned to mspears-lbl

[2019-05-03 21:17] #11 closed, assigned to mspears-lbl

[2019-05-09 19:52] TravisWalterLBNL opened #51 "Display and allow editing of application description"
When I create a new application, I am prompted to enter a description, but it seems like this is never used anywhere. I think it should be shown and allowed to be edited somewhere on the screen when I see my application terms. Also, this description should be displayed in a "Description" column in the list of applications.

[2019-05-09 20:22] TravisWalterLBNL opened #52 "Typo in delete application dialog box"
When I click the X to delete an application, I am asked to confirm. The message in the confirmation dialog should say "Remove the selected applications?", not "terms".

[2019-05-09 21:35] #12 closed, assigned to mspears-lbl

[2019-05-13 19:59] robHitchcock opened #53 "Custom qualifiers and units of measure"
We need the ability to add custom qualifiers (i.e., constrained list options) and units of measure as we input application mappings.  We may also need the ability to add new atomic terms.

[2019-05-22 16:35] robHitchcock opened #55 "Adding private Atomic Terms and List Options"
Private Atomic Terms need to be able to be added.
Private list options should be able to be added to approved Atomic Term constrained lists.

[2019-05-22 21:33] #15 closed, assigned to mspears-lbl

[2019-05-29 16:34] #53 closed, assigned to nobody

[2019-06-03 17:11] TravisWalterLBNL opened #56 "units missing when mapping application term"
When I am mapping an application term and I click on the unit dropdown list, there are several units missing from the list. I expected to see all the units listed at https://bedes.lbl.gov/bedes-online/unit-measure, but there were far fewer units in the mapping manager (e.g., I didn't see "kW" or "C").

[2019-06-03 19:20] robHitchcock opened #57 "Application Term unit not saved"
Application Term unit of measure is not saved when input on the screen below.  The Save button does highlight when a Unit is input, and you can go back to application list and return to screen below and still see the unit.  However, if you leave the Applications tab and return, all the units are missing.
![image](https://user-images.githubusercontent.com/7998768/58828283-f4af7080-85f9-11e9-9d89-62

[2019-06-05 21:49] TravisWalterLBNL opened #58 "add functionality for mapping individual list options"
The mapping manager can map an application's constrained list to a BEDES constrained list, but there is no way to map the individual items in that list to the individual BEDES constrained list options. For example, I can map something like "light type" to "Lamp Type", but I also need to be able to map "CFL" to "Compact fluorescent".

[2019-06-06 19:09] #58 closed, assigned to mspears-lbl

[2019-06-06 20:47] TravisWalterLBNL opened #59 "can't modify some of my own composite terms"
In the list of composite terms, I see several terms that are owned by me. Some of them have an X next to the magnifying glass icon, indicating I am allowed to delete them, but some do not (in the attached screenshot, "Existing Fixture Power" and "New Fixture Power"). If I click on one of the "deletable" composite terms, I am able to delete the individual atomic terms that make up the composite ter

[2019-06-06 22:06] TravisWalterLBNL opened #60 "quotes around search terms don't work"
There is an atomic term called "Resource Value" in BEDES. If I search for "resource value" with both words surrounded in quotes, I get zero results. If I search without quotes, I get many results, including "Resource Value". It would nice to be able to use double quotes when searching to specify an exact phrase (i.e., the same way they work in Google's search).

[2019-06-10 22:46] TravisWalterLBNL opened #61 "can't map constrained list options to composite term"
In my application, I have a term that is a constrained list. I created a composite term that is composed of a constrained list option (Lighting Component = Luminaire) and a constrained list (Fixture Configuration). Thus, this composite term should behave as though it is a constrained list. However, when I map the constrained list in my application to this composite term, I get an error saying I ca

[2019-06-10 23:24] TravisWalterLBNL opened #62 "can't make my application public"
In the application options, there is a dropdown for sharing that is currently set to private, but it is greyed out, so I can't set it to public. Shouldn't any user be able to make their application public?

[2019-06-10 23:27] TravisWalterLBNL opened #63 "composite term options carrying over to next composite term"
I click on a composite term and change one of its options (e.g., set units = kWh). Then, I click on a second composite term to change one of its options (e.g., set sharing = Public). However, the second composite term's settings are automatically set to whater I put for the first one (e.g., units = kWh), even though I set units for the first one, but never edited units for the second one.

[2019-06-10 23:55] TravisWalterLBNL opened #64 "list of application terms doesn't show owner and sharing for atomic terms"
I have mapped some application terms to BEDES atomic terms, but when I look at the list of application terms, there is nothing in the Owner or Sharing columns for those terms. The Owner and Sharing columns do contain values when I map an application term to a composite term.

[2019-07-16 20:41] #61 closed, assigned to mspears-lbl

[2019-07-16 20:45] TravisWalterLBNL opened #65 "can't delete application term"
In the list of application terms, I click the red X on the right side, then confirm "Yes" to "Remove the selected terms?", but the application term stays in the list (even after logging out and back in again).

[2019-07-24 17:01] robHitchcock opened #66 "Application mappings lost in transition to new UI"
Some of the mappings in my BTO ARC RTU Application seem to have been lost in the transition to the new UI.  For example, see "Cumulative Total GHG reductions (2013-2017)"

[2019-08-14 15:52] #66 closed, assigned to nobody

[2019-08-14 15:57] #57 closed, assigned to nobody

[2019-08-14 16:11] robHitchcock opened #67 "Build/Deploy process needs to be documented"
Mike document build/deploy process for handover to future developers

[2019-08-20 20:17] #65 closed, assigned to mspears-lbl

[2019-08-21 21:43] #62 closed, assigned to mspears-lbl

[2019-08-28 16:20] TravisWalterLBNL opened #68 "uneditable items should be greyed out"
When clicking on a BEDES atomic term (e.g., "Climate Zone Type"), there are several dropdowns (URL, Definition Source, Data Type, Unit, etc.) that appear to be editable. Since they shouldn't be allowed to be edited, the interface should indicate that by greying them out or disabling the dropdowns, or something similar.

[2019-08-28 16:23] TravisWalterLBNL opened #69 "create new account doesn't work"

[2019-08-28 16:23] TravisWalterLBNL opened #70 "password reset doesn't work"

[2019-09-18 23:35] TravisWalterLBNL opened #71 "anyone should be able to see atomic terms in composite term"
When I look at a composite term that is owned by someone else, but is shared with me, and I look in the "BEDES Terms" box, I only see the text of the full composite term, but I should be able to see the individual boxes for each atomic term that makes up the composite term (like what I see when I look at a composite term that I own).

[2019-09-23 17:32] TravisWalterLBNL opened #72 "remove composite terms from bedes.lbl.gov"

[2019-10-10 19:01] robHitchcock opened #73 "Mapping constrained list options"
Problems with user interface when trying to create new application term enumerations and map them to BEDES constrained list options.
Changing application term Type of Term from Value to Constrained List does not reliably cause List Options controls to appear. Manually refreshing page seems to help.
Adding New List Options beyond the point where you have to use the short scroll bar to the lower rig

[2019-10-15 15:19] mspears-lbl commented on #73
Having trouble reproducing the constrained list mapping issue on my machine.  Can you indicate how the error occurs?

Which application term causes the error?
At which point do you try and change the Term Type from [value] to Constrained List?
Which BEDES Term are you mapping to? is it a composite term?

[2019-10-15 17:52] robHitchcock commented on #73
I just tried a new application term mapping as follows:
1. Went to my existing application mapping "CPUC MF Attributes BayREN"
2. Added a new application term "Data Center Redundancy", mapped it to existing composite term "Data center UPS Equipment Redundancy", saved it with its type of term set to "Value", and returned to term list.
3. Went back to edit "Data Center Redundancy", changed its type

[2019-10-16 21:34] robHitchcock commented on #73
A related problem is that now that my mapped constrained list option list goes below the bottom edge of my screen, a smaller vertical scroll bar appears to the right of this list.  However, when I try to click on this scroll bar, all of the list option controls disappear.

[2019-10-16 22:57] robHitchcock commented on #73
These problems do not occur on a Mac using Chrome, but do occur on a PC Win10 using Chrome.

[2019-12-04 22:56] robHitchcock commented on #55
I believe we decided to NOT allow atomic term and list option additions.  This will happen only on the Drupal BEDES dictionary site and be transferred to the Mapping Manager only when a new BEDES version is officially released.

[2019-12-04 22:56] #55 closed

[2019-12-04 23:02] robHitchcock commented on #35
We need to revisit this issue and sort out what has been addressed and what still needs attention. And start separate new issues to obviate this too long issue thread.

[2019-12-06 20:13] robHitchcock opened #74 "Application Term DataType"
Instead of the textbox labeled "Type of Term" on the Application Mapping page (see attached image), the textbox should be labeled "Data Type" and the contents should be the DataType of the Application/BEDES term (e.g., Decimal, Integer)
[Application Term DataType Issue.docx](https://github.com/LBNL-ETA/BEDES-Manager/files/3933824/Application.Term.DataType.Issue.docx)

[2020-01-21 21:06] robHitchcock opened #75 "Application mapping import not working"
I tried to import the "Example Format for Mapping Export" CSV file (attached file is the XLSX format since you cannot attach a CSV format here
[Import Test 1.xlsx](https://github.com/LBNL-ETA/BEDES-Manager/files/4093681/Import.Test.1.xlsx)
).
The import failed with no error report.
Also, the instructions, which only appear after you click the "Import Application Terms" appear to be left over from

[2020-01-22 02:26] jateeter commented on #75
thx - made a new account.

Have you done anything with Transportation systems yet?

jt

On Tue, Jan 21, 2020 at 2:06 PM Rob Hitchcock <notifications@github.com>
wrote:

[2020-02-12 23:06] phgupta opened #90 "On import, all terms should be private."
When creating an application term, or importing a csv file, all the terms should be private and owned by the user's account.

[2020-02-13 00:22] phgupta opened #91 "Composite Term Ownership"
It is okay to create duplicate composite composite terms that are private to the users account or public but not BEDES approved.

[2020-02-13 00:23] phgupta opened #92 "Public application"
When an application becomes public, all the mapping's composite terms become public as well.

[2020-02-13 00:25] phgupta opened #93 "Deleting application"
When an application is deleted, it will not delete public or private composite terms. However, the owner can delete those terms manually.

[2020-02-13 00:26] phgupta opened #94 "Warn user of duplicates when creating new composite term"
Check if existing BEDES approved composite term exists and give an alert to the user.

[2020-02-13 00:30] phgupta opened #95 "search results should exclude items with Sharing=Public be default"
Default behavior should show private and BEDES approved terms only.

Need to come up with a way on how to show public terms as well. Two solutions so far,
1. Add a button on the UI that toggles to show public terms as well.
2. Sort the search results to show private and approved terms first and the public terms in the end.

[2020-02-13 21:06] #38 closed

[2020-02-13 21:18] phgupta opened #96 "Delete application even if it contains terms"
Current implementation does not allow the deletion of an application if it contains any terms in it.

[2020-02-14 23:22] phgupta commented on #91
This is a duplicate of issue #90

[2020-02-14 23:22] #91 closed

[2020-02-14 23:23] phgupta commented on #90
NOTE: It is okay to create duplicate composite terms that are private to the users account or public. However, BEDES approved composite terms have to be unique.

[2020-02-14 23:28] phgupta opened #97 "Add more BEDES Constrained List Options"
“Other, Unknown, None, Not applicable” are the four BEDES Constrained List Options that need to be added. Current implementation includes only "other".

[2020-02-14 23:29] phgupta opened #98 "Use single SQL query for export csv"

[2020-02-14 23:30] phgupta opened #99 "Write script to validate csv and db"
Write a script that validates the BEDES Atomic Terms and BEDES Atomic Term List Options csv with the database.

[2020-02-19 22:15] #93 closed

[2020-02-19 22:17] TravisWalterLBNL commented on #94
When checking for duplicates, should check the individual atomic terms, rather than the concatenated composite term name (to avoid issues with non-unique concatenated names).

[2020-02-19 22:18] TravisWalterLBNL commented on #94
Also, maybe warn a user if there is another composite term that has different atomic terms but the same concatenated name.

[2020-02-19 22:28] TravisWalterLBNL commented on #96
To clarify, "any terms in it" refers to application terms (not composite terms).

[2020-02-19 22:45] TravisWalterLBNL commented on #97
This issue refers to verifying the correctness of composite terms upon import.

But also, these special list options should be added to every constrained list (on the backend, but not necessarily on the website database).

[2020-02-19 22:48] TravisWalterLBNL commented on #98
For performance and code maintainability.

[2020-02-19 23:02] robHitchcock commented on #75
Specific outstanding import issues documented in new issues.  So closing this one.

[2020-02-19 23:02] #75 closed

[2020-02-19 23:09] #1 closed

[2020-02-19 23:10] #73 closed

[2020-02-19 23:11] #67 closed

[2020-02-19 23:12] #35 closed

[2020-02-19 23:12] #5 closed

[2020-02-19 23:12] #6 closed

[2020-02-19 23:13] #8 closed

[2020-02-19 23:13] #9 closed

[2020-02-19 23:14] #10 closed

[2020-02-19 23:18] #29 closed

[2020-02-19 23:19] #31 closed

[2020-02-19 23:19] #36 closed

[2020-02-19 23:20] #40 closed

[2020-02-19 23:21] #42 closed

[2020-02-19 23:25] #28 closed

[2020-02-19 23:26] #41 closed

[2020-02-19 23:31] #43 closed

[2020-02-19 23:34] TravisWalterLBNL commented on #51
Editing the name of an application is now supported, but the original issue remains: If I can enter a description for my application, it should be used somewhere (definitely in the list of applications, and maybe on the page listing that application's terms).

[2020-02-19 23:43] #56 closed

[2020-02-19 23:47] TravisWalterLBNL opened #105 "Fix sorting in list of units"
The list of units should be fixed so that, e.g., all of the units starting with $ are after each other. They should be sorted in the same order as at https://bedes.lbl.gov/bedes-online/unit-measure.

This happens in both in the dropdown when mapping an application term, and when viewing the constrained list options of the "Unit of Measure" atomic term.

[2020-02-20 00:13] #59 closed

[2020-02-20 00:14] #63 closed

[2020-02-20 00:15] #64 closed

[2020-02-20 00:16] #68 closed

[2020-02-20 00:17] #69 closed

[2020-02-20 00:19] #70 closed

[2020-02-20 00:41] #23 closed

[2020-02-20 00:42] #24 closed

[2020-02-20 00:43] #46 closed

[2020-02-20 00:44] #26 closed

[2020-02-24 22:41] phgupta commented on #97
6e9e36e314eda30817f067416696844ade0aeb7a fixes it.

[2020-02-24 22:42] phgupta commented on #97
6e9e36e314eda30817f067416696844ade0aeb7a fixes it.

[2020-02-24 22:42] #97 closed

[2020-02-25 01:53] phgupta opened #106 "Update build scripts to initialize db with version 2.3"
If a new developer clones this repo, he/she should be able to run BEDES-Manager with version 2.3 terms.

[2020-02-25 21:56] TravisWalterLBNL opened #107 "mapping import fails silently when .csv has wrong header"
There should be an error message that indicates the header is wrong.

[2020-02-25 22:05] TravisWalterLBNL commented on #107
Depending on which wrong header I had, sometimes I got no message, other times I got this message:
Error in mapping: either BedesTerm and BedesAtomicTermMapping both exist or not. Term=(...)

[2020-02-25 22:23] TravisWalterLBNL opened #108 "confirm format of .csv header for application import"
Hadn't we decided on this? This is simple and readable (e.g., no newlines and no punctation).

"Application Term,Application Term Description,Application Term Unit,Application Term Data Type,BEDES Term,BEDES Term Description,BEDES Term Unit,BEDES Term Data Type,BEDES Atomic Term Mapping,BEDES Constrained List Mapping,BEDES Composite Term UUID,BEDES Atomic Term UUID,BEDES Constrained List Option UU

[2020-02-25 22:28] TravisWalterLBNL opened #109 "can't import example .csv file"
When I try to import the example .csv file that I just downloaded, I get no terms and just an error message that says "[object Object]".

[2020-02-25 22:34] TravisWalterLBNL opened #110 "can't remove application without removing all terms first"
Is this the desired behavior? I have to manually delete each application individually before I can delete the application itself? If all of my composite terms are private (and aren't used by my other applications), shouldn't I be able to delete a whole group of composite terms?

[2020-02-25 22:38] phgupta commented on #110
Duplicate #96

[2020-02-25 22:38] #110 closed

[2020-02-25 23:32] TravisWalterLBNL opened #111 "constrained list mappings not imported"
When I try to import a .csv with mappings of constrained list options (see attached), the application list options are imported correctly, but they are not mapped to the BEDES constrained list options (I just see "No Mapping" for every list option).

[2020-02-25 23:34] TravisWalterLBNL opened #112 "sharing = "unknown" when importing application terms"
After importing a .csv file with application terms mapped to BEDES term, the list of application terms has "unknown" in the sharing column for every application term.

[2020-02-25 23:40] TravisWalterLBNL opened #113 "can't import terms without official units"
Currently, when I try to import an application term that has a unit that is not in the official list (i.e., one of the list options of "Unit Of Measure"), I just get an "[object Object]" error message.

Instead of getting an error message, I should be able to import anything I want to in the application unit field. If I try to import an unofficial unit for a BEDES composite term, I should still ge

[2020-02-25 23:46] TravisWalterLBNL opened #114 "BEDES unit ignored on import?"
In the import .csv file, if I specify the unit for the BEDES composite term, I don't get the same unit when I later click on that composite term in the search results (i.e., I specified "m2" in the .csv file, but the composite term had "ft2"). This seems to work properly for application terms, but not for BEDES composite terms.

[2020-02-25 23:55] TravisWalterLBNL opened #115 "import error message should be more informative"
When I try to import a composite term that is formed incorrectly (e.g., with "State = xyz123" in the term mapping for an application term called "abc"), I get an error messages saying "No data returned from the query.Term=(abc)", but it would be helpful if the message specified which application term and which constrained list this applied to. Something like 'Unrecognized list option "xyz123" of c

[2020-02-26 01:01] TravisWalterLBNL commented on #115
Likewise if I try a bad constrained list (e.g., "Stat = CA" instead of "State = CA").

[2020-02-26 18:45] phgupta opened #118 "Application names need to be private."
Current implementation enforces application names to be unique across all user accounts.

[2020-02-26 18:51] phgupta commented on #90
Pull request #116 fixes this.

[2020-02-26 18:51] #90 closed

[2020-02-26 22:17] phgupta commented on #114
Per Rob, the BEDES dictionary assigned unit should be enforced ( it's okay for application term's units to be different - see issue #113 ).

[2020-02-27 02:32] TravisWalterLBNL commented on #114
Where does the unit that actually gets used come from? From the composite term (if it already exists)? If the composite term doesn't already exist, what unit gets used? Is it using the unit from the final atomic term in the composite term?

[2020-02-27 18:51] robHitchcock commented on #114
If the composite term exists with an assigned unit that is used.  If a new composite term rightmost atomic term has a BEDES dictionary assigned unit, that is used.  If a new composite term rightmost atomic term does not have a BEDES dictionary assigned unit, then the user may input any valid BEDES Unit Of Measure.

[2020-02-28 15:56] TravisWalterLBNL commented on #114
I agree with that behavior, expect I wonder about making one small change: If the composite term already exists, the unit assigned to that composite term should be used, but only if that existing composite term is BEDES approved.

Are we allowing multiple copies of the same composite term if they only differ by their unit?

Any thoughts?

[2020-02-28 18:48] robHitchcock commented on #114
I guess that additional behavior is appropriate.  I do not believe the current mapping manager code enforces any of these rules. So this all needs to be implemented.

I have only been thinking of these rules in terms of importing application mappings. But these new rules should also be consistently enforced when users manually create new composite terms.

[2020-03-03 18:30] phgupta commented on #112
Refreshing the page solves this issue.

[2020-03-03 20:19] TravisWalterLBNL commented on #112
I don't think a user should have to refresh. Isn't there a way for this to be taken care of automatically behind the scenes without action by the user?

[2020-03-04 00:05] phgupta opened #120 "Modify import code to reflect the additional BEDES constrained list options added."
Current import-csv code has checkings for constrained list options that are mapped to "other". However, now that each BEDES Atomic Term with Constrained List has "other, none, not applicable, unknown" as additional constrained list options, these checkings can be removed.

[2020-03-04 22:26] phgupta commented on #113
Make the application unit column free text.

[2020-03-09 23:46] phgupta opened #123 "Update "Download Sample File" to download the correct sample csv file"
In import-csv, "Download Sample File" downloads the previous (with incorrect headers) sample csv file. Fix it to download the latest sample csv file (with the updated headers)

[2020-03-10 00:01] phgupta commented on #107
Fixed in 2f4c6ac0ae95f53cdda38df5ceebff998099ac9c

[2020-03-10 00:02] phgupta commented on #115
Fixed in 8491c05f9e778934fef420b87a00d865508618f7

[2020-03-10 21:33] phgupta opened #124 "Delete app_term_additional_data table."
Discuss in meeting before deleting this table.

[2020-03-16 22:31] phgupta commented on #113
Fixed in f65ca90b03237ab0acd4ccee69edf6248f33a547

[2020-03-16 22:35] phgupta commented on #123
There has been a miracle. It just magically works.

[2020-03-16 22:36] #123 closed

[2020-03-16 22:38] phgupta commented on #124
Deleted.

[2020-03-16 22:38] #124 closed

[2020-03-16 22:39] phgupta commented on #48
Update instructions (code and db table structures have changed)

[2020-03-16 22:41] phgupta opened #128 "Update UI for application unit"
Application unit is free-text now. Update UI to reflect it.

[2020-03-17 02:11] TravisWalterLBNL opened #129 "application import example file shouldn't have quotation marks"
For example, for the application term Advanced RTU Control Retrofits, in the atomic term mapping, it should just be Location = Roof, not Location = "Roof".

[2020-03-17 02:25] TravisWalterLBNL opened #130 "application import example has wrong data types and units"
1. For the "Year Built" application term: The correct data type is TimeStamp, not Timestamp.

2. Also for "Year Built": The correct unit is YYYY, not years. In general, if the data type is TimeStamp, the unit should be YYYY, YYYY-MM-DD, etc. If the unit is years, days, etc., the data type should be Integer (or maybe Decimal, I suppose).

3. For "Construction Status" and "Data Center - UPS System R

[2020-03-17 02:28] TravisWalterLBNL commented on #107
Confirmed fixed.

[2020-03-17 02:28] #107 closed

[2020-03-17 02:36] TravisWalterLBNL opened #131 "application unit ignored on input"
When I import an application mapping, it looks like the application unit is completely ignored. When I click on the button to view the application term, there is a dropdown for unit, but it is blank no matter what I put for the application unit in the file I import. Instead of being a dropdown, this should be a free text field, and it should initially have the value I put in the import file.

[2020-03-17 02:36] TravisWalterLBNL commented on #109
Confirmed fixed.

[2020-03-17 02:36] #109 closed

[2020-03-17 02:46] TravisWalterLBNL commented on #113
Not fixed. I set the BEDES unit to TWh in my import file. Instead of telling me that's not an official unit, I was allowed to import the term and the unit was just ignored.

[2020-03-17 02:57] TravisWalterLBNL commented on #115
I should get an informative message when I try to delete an application before deleting all of its application terms. I just get "An error occurred removing the application.".

[2020-03-17 03:07] TravisWalterLBNL opened #132 "not all constrained list mappings imported"
I tried to import a single application term that was a constrained list with, e.g., Alaska = AK, Arizona = AZ, etc. There were about 50 items in list, but only the first 30 or so were mapped correctly. The remaining just had New York = No Mapping, North Carolina = No Mapping, etc.

[2020-03-17 03:18] TravisWalterLBNL opened #133 "wrong terms imported"
This is a weird one. I was experimenting with importing terms from the example file. When I was done, I deleted all of my composite terms, application terms, and applications. Then I created a new application and tried to import new application terms from a .csv file. Not only did the application terms from the .csv file show up, but the application terms from the example file showed up too.

[2020-03-17 17:15] phgupta commented on #132
Are the BEDES constrained list options supposed to be abbreviations - AK, AZ...etc? I have added the full names as the constrained list options.

[2020-03-17 17:25] phgupta commented on #129
I thought we decided to leave the quotation marks in the sample file but the underlying code would work for either implementation - quotation or no quotation.

[2020-03-17 17:27] phgupta commented on #131
Duplicate of #128. Yes, I'm aware of this and I was going to work on all the UI elements at the end.

[2020-03-17 17:40] phgupta commented on #115
This is a duplicate of #96. We decided on it being low priority for now but this indeed seems important while testing.

[2020-03-17 17:42] phgupta commented on #108
This is fixed. The current sample file in the website has the updated headers.

[2020-03-17 17:44] phgupta commented on #111
I'm working on ensuring it works right after the import, but for testing purposes - refreshing the page should work.

[2020-03-17 17:47] phgupta commented on #113
But the BEDES unit should be in the official list right? It's only the application unit that's free-text.

[2020-03-17 17:53] phgupta commented on #130
1. The current table for data type has "Timestamp" not "TimeStamp". Do we want to change this to "TimeStamp" permanently?

I will fix the other two points.

[2020-03-17 21:16] phgupta commented on #120
Fixed in 714b7fb97493dc866d4e8094ccccee7dd0648238.

[2020-03-17 21:16] #120 closed

[2020-03-18 00:12] TravisWalterLBNL commented on #129
Why encourage people to do additional unnecessary work? This also avoids weird issues that I have seen before with quotation marks being stored differently on Windows vs. macOS and when copy/pasted from browsers vs. Microsoft vs. etc.

The underlying code should handle either, but the example shouldn't have extra quotes.

[2020-03-18 00:18] TravisWalterLBNL commented on #108
Confirmed fixed.

[2020-03-18 00:18] #108 closed

[2020-03-18 16:58] TravisWalterLBNL commented on #132
Yes, the list options should be the abbreviations: https://bedes.lbl.gov/bedes-online/state

[2020-03-18 17:13] TravisWalterLBNL commented on #132
GitHub won't let me attach the .csv file I was importing, so I'll email it separately.

I attached a screenshot of the result (look near the bottom). Many of the list options were mapped, but many show "No Mapping". Clearly, all should have been mapped.

I noticed that at about halfway through the list (between New Mexico and New York), the order of list options in the .csv file no longer matched

[2020-03-18 17:18] TravisWalterLBNL commented on #111
Confirmed fixed.

Seems to work, as long as there aren't too many list options. See issue #132.

[2020-03-18 17:18] #111 closed

[2020-03-18 17:24] TravisWalterLBNL commented on #113
The BEDES unit should be from the official list (https://bedes.lbl.gov/bedes-online/unit-measure). If it isn't, an informative error message should be given.

The application unit should be a free text field.

[2020-03-18 17:27] TravisWalterLBNL commented on #130
Yes, the correct value is "TimeStamp". For example, see "Data Type" here: https://bedes.lbl.gov/bedes-online/interval-end-date

[2020-03-18 19:19] TravisWalterLBNL commented on #130
In the version you sent via email:

1. Quotation marks should be removed (see issue #129).

2. Timestamp should be TimeStamp.

3. For the "Advanced RTU Control Retrofits" application term, both the application and BEDES units should be "count".

4. For the "Year Built" application term, the BEDES unit should be "YYYY", not "years".

5. For the "Company" application term, I like that the applicatio

[2020-03-18 19:43] TravisWalterLBNL opened #139 "application terms export"
There are some problems with the .csv file that I get when I export my application terms:

1. There shouldn't be a newline before the header.

2. The header row should match the example import file.

3. The application and BEDES data types are missing.

4. In the term mapping column and the list mapping column, there should be spaces around the equals sign, e.g., "Construction Status = [value]" in

[2020-03-18 19:48] TravisWalterLBNL opened #140 "application import example file should have more informative filename"
Rather than "import-example.csv", it should be something like "BEDES Application Import Example.csv".

[2020-03-18 22:15] TravisWalterLBNL commented on #130
Also, two more things (that seem to be related) when I try to import the example file:

1. I get an error message saying there is different number of list options and list option UUIDs. It looks like it is caused by the "Data Center - ..." application term. It has 6 list options, but only 5 list option UUIDs. There is no UUID for the "Other" list option.

2. If I fix that by removing the last list

[2020-03-18 22:18] TravisWalterLBNL commented on #132
I just tried this again, and this time, intead of only some the list options being mapped correctly, none of them were.

[2020-03-18 22:27] TravisWalterLBNL commented on #133
More strange stuff when I tried to reproduce this.
1. I deleted all my application terms, composite terms, and my application.
2. I created a new application, then imported the (fixed) sample file.
3. I repeated step 1.
4. I created a new application (with a different name than in step 2).
5. I tried to import from a .csv that only had one term (a long constrained list).
6. No application terms we

[2020-03-23 21:27] phgupta commented on #128
Fixed in 08c268de63a3899b926ea507cea16acbcc928dc4

[2020-03-23 21:27] #128 closed

[2020-03-23 21:29] phgupta commented on #140
Fixed in 20c4105ea936fa1b23883aa7707e4e8aa66e87be

[2020-03-23 21:30] phgupta commented on #131
Fixed in 08c268de63a3899b926ea507cea16acbcc928dc4

[2020-03-23 21:31] phgupta commented on #72
This looks like a super old issue. This can be closed.

[2020-03-23 22:57] TravisWalterLBNL commented on #72
This is still a valid issue. The online dictionary should only have atomic terms, not composite terms. However, it has nothing to do with the mapping manager, so it can be ignored. I propose we keep it here so we don't forget about it.

[2020-03-23 23:01] TravisWalterLBNL commented on #72
For example, the composite terms "Gross Floor Area", "Gross Area", and "Cooled Gross Area" are all listed on bedes.lbl.gov.

[2020-03-23 23:34] phgupta commented on #113
Fixed in 20c4105ea936fa1b23883aa7707e4e8aa66e87be

[2020-03-23 23:51] phgupta commented on #132
Fixedi in 93f67e5b11c896badc8fd0e6cf676397b9e7d1ae

[2020-03-23 23:55] phgupta commented on #129
Fixed in f421924742c13602b024344c52edfdef1a5e639c

[2020-03-24 00:04] phgupta commented on #130
1. Removed quotation marks in f421924742c13602b024344c52edfdef1a5e639c
2. Changed the units and descriptions for "Company", "Annual Savings..." and "Shared By Contact..." in 20c4105ea936fa1b23883aa7707e4e8aa66e87be

For the other two things, those errors popped up because the csv file needed to be updated by the new UUIDs. I agree that we should have one UUID for each of (Other, Unknown, None and

[2020-03-24 03:24] robHitchcock commented on #130
Casey, the drupal master, is in the process of making scripted mods to the online dictionary to add these list options to all constrained list terms.  There will only be one instance of each list option with a single UUID.  Each list option will then reference all constrained list terms as a parent.

[2020-03-24 17:58] TravisWalterLBNL commented on #129
Confirmed fixed.

[2020-03-24 17:58] #129 closed

[2020-03-24 18:04] TravisWalterLBNL commented on #140
Confirmed fixed.

[2020-03-24 18:04] #140 closed

[2020-03-24 18:30] TravisWalterLBNL commented on #130
Also, the app term "Annual Savings (2013-2017)\nTotal Primary Energy Savings" shouldn't have a newline. I know this is technically allowed, but I don't think we should encourage this by putting it in the example file.

[2020-03-24 18:31] TravisWalterLBNL commented on #130
When I try to import the example file, I get an error message saying "Composite term already exists.", even though the list of composite terms is empty.

[2020-03-24 18:37] TravisWalterLBNL opened #143 "error saying composite term exists when there are no composite terms"
When I try to import any example file, I get an error message saying "Composite term already exists.", even though the list of composite terms is empty.

[2020-03-25 20:28] phgupta commented on #143
Fixed.

[2020-03-25 20:49] TravisWalterLBNL commented on #132
Confirmed fixed.

[2020-03-25 20:49] #132 closed

[2020-03-25 20:50] TravisWalterLBNL commented on #143
Confirmed fixed.

[2020-03-25 20:50] #143 closed

[2020-03-25 21:02] TravisWalterLBNL commented on #130
On second thought, perhaps special characters shouldn't be allowed in application term names. Either that, or these characters should be converted during import. When I converted the "Annual Savings..." term, the newline character got dropped and the mapping manager showed "...2017)Total...".

[2020-03-25 21:33] phgupta commented on #74
Both app_term and bedes_composite_term tables need to have a "data_type_id" column.

[2020-03-26 16:33] TravisWalterLBNL commented on #131
Confirmed fixed.

[2020-03-26 16:33] #131 closed

[2020-03-26 16:40] TravisWalterLBNL commented on #114
It seems like this behavior has changed from when I opened this issue. Was this by design, or is there a mistake somewhere?

I just imported an application term that was mapped to a new composite term whose rightmost atomic term (Area) does have a unit associated with it (ft2). In my import file, I specified m2 as the unit for the composite term. I was under the impression my m2 should have been o

[2020-03-26 16:45] TravisWalterLBNL commented on #113
Confirmed fixed.

[2020-03-26 16:45] #113 closed

[2020-03-26 16:55] TravisWalterLBNL commented on #115
Error messages should say which application term caused the error. In the case of multiple errors, I think we can start with only the first error that is found being reported (rather than having to deal with listing potentially many errors).

I tried to import several application terms. One of the terms had an unofficial BEDES term unit, and the rest had official units. I received an error message

[2020-03-26 17:14] TravisWalterLBNL commented on #133
Again, the list of composite terms got filled up with several hundreds of composite terms, even though I have not tried to import anything with more than a few composite terms since my account had been reset.

[2020-03-26 17:36] TravisWalterLBNL commented on #115
I am trying to import a single term, and all I get is an error message saying "Error creating terms". There should be some information about which colum is causing the error. I will attached the file I'm trying to import to an email since I can't attach .csv files here.

[2020-03-26 23:54] phgupta commented on #130
What should the special characters be converted to?

[2020-04-01 16:54] phgupta commented on #139
Partially fixed in f650e9403f876676b2b2efea3e0dc048be6bfa61 and be9eb28da07394a614949f49e6e12d31170a6487. For now, everything but the "App Term Data Type" and "BEDES Term Data Type" column works.

[2020-04-02 21:56] TravisWalterLBNL commented on #115
Here's an error I encountered that should have a more descriptive error message: I imported som application terms, then added one term to the file, then tried to import the file again. All I got was "Error creating terms", but I should get something saying that I can't import an application term if I already have an application term with that name.

[2020-04-02 21:57] TravisWalterLBNL commented on #139
In the "BEDES Atomic Term UUID" column, the UUIDs are correctly separated by newlines, but there should not be a newline after the final UUID. Same thing for the constrained list option UUIDs.

[2020-04-02 21:59] TravisWalterLBNL commented on #139
The output file name should be "BEDES Application Export - <application name>.csv", not just "sample.csv".

[2020-04-02 22:02] TravisWalterLBNL commented on #130
Also, for consistency with the export filename (see issue #139), the file name should be "BEDES Application Import - Example.csv".

[2020-04-02 22:06] TravisWalterLBNL commented on #130
In general, I have seen a lot of software that replaces weird characters with an underscore, but let's hold off on this until we have discussed as a team.

[2020-04-02 22:50] TravisWalterLBNL commented on #139
When I import the example file, then export it, then compare the two, I am seeing some differences (aside from the data type columns):

1. Some of the values in the 'BEDES Term Description' column are different in the import and export files. It looks like this is because the export file is overwriting what was in the import file with what it found in the BEDES dictionary when the composite term i

[2020-04-02 22:50] TravisWalterLBNL commented on #130
Some more fixes are necessary:

1. For the "Company" application term, the term mapping has an extra trailing space that should be removed.

2. For "Construction Status", the name of the list option should be "Design development" (i.e., the second word should not be capitalized).

[2020-04-03 16:25] phgupta commented on #115
Fixed "Error: Not an official BEDES unit." and the errors associated with the csv files in d91f4dd9fac7f334c721714b963b93a200ea654e

[2020-04-08 21:43] TravisWalterLBNL commented on #115
Pranav said the mystery errors were caused by the application term name having too many characters (100), and that he will increase the limit.

[2020-04-14 18:13] TravisWalterLBNL commented on #139
When I export an application that has application terms with commas in their names, I get a .csv file that can't be parsed. It looks like the problem is that fields containing commas are not wrapped in quotation marks.

For example, the file has this:
Computer Density (Number per 1,000 ft2),...

Instead, it should have this:
"Computer Density (Number per 1,000 ft2)",...

[2020-04-14 20:31] TravisWalterLBNL commented on #139
I tried to export an application term whose name included the pound sign (#), and in the exported .csv file, everything after the pound sign (and including it) were dropped from the file. For example, my application term name was "Fuel Oil #1 Use (kBtu)", but the second line of my export file was just "Fuel Oil ", without any commas or any other fields or anything.

[2020-04-15 22:08] TravisWalterLBNL opened #152 "unit in import file shouldn't be overwritten with blank BEDES unit"
Normally, when a new composite term is created during an import, it should inherit the unit of its final atomic term, and the unit specified in the import file is ignored. However, sometimes the unit of the final atomic term is blank. If this is the case, the unit in the import file should be used.

[2020-04-21 21:29] phgupta commented on #139
Partially fixed in a5b883b073f1d39df16f059d5a44f41b19462231

1. BEDES Atomic Term UUID and BEDES Constrained List Option UUID have no trailing newlines.
2. Output filename has been changed to "BEDES Application Export - APP_NAME.csv".
3. Fixed issue with special characters in app term names (NOTE: I tested multiple special characters and all of them worked except '#'. Not sure how it is being trea

[2020-04-22 20:24] TravisWalterLBNL commented on #115
Confirmed fixed.

[2020-04-22 20:24] #115 closed

[2020-04-22 20:37] TravisWalterLBNL commented on #139
I'm still seeing newlines in the values (not the header) for the following columns:
BEDES Term Description
BEDES Constrained List Mapping
BEDES Constrained List Option UUID

[2020-04-22 21:37] TravisWalterLBNL commented on #74
Confirmed fixed.

[2020-04-22 21:37] #74 closed

[2020-04-22 21:46] TravisWalterLBNL commented on #139
Also, for some terms, the 'BEDES Term Data Type' is non-blank in the import files, but is blank in the export file. I will email an example import file.

[2020-04-29 17:43] TravisWalterLBNL commented on #139
The blank 'BEDES Term Data Type' in the export file (despite being non-blank in the import file) was due to composite terms created before the data type functionality was implemented. After deleting those composite terms, the import and export 'BEDES Term Data Type' now matches.

[2020-04-29 21:34] TravisWalterLBNL commented on #152
To clarify: when this issues refers to a "blank" atomic term unit, it should really say "when the atomic term has Unit of Measure = Unknown".

[2020-05-06 23:48] phgupta commented on #152
Fixed the "blank" part in 74dd5f01f68295c98bdb6ff8be06fe586f240fd0

[2020-05-27 18:30] TravisWalterLBNL opened #156 "error when importing: missing required parameters"
When I try to import a .csv file that I think should be fine (see email), I get this error message: "Missing required parameters.. Term=(Energy Cost ($))".

[2020-06-01 23:16] robHitchcock opened #157 "error importing NYSERDA mapping"
Invalid parsed csv row encountered: Term=()

The above error was reported when attempting to import the attached mapping CSV. The message is not informative enough to tell me where to look for an error, nor what error is causing the import to fail. Since no imported rows appear and no Composite Terms get created, it makes me think it's the very first row that in invalid, but I don't know why.

[MF

[2020-06-02 22:49] phgupta commented on #96
Fixed in 17c3ef71059ea0d51c8be0a12f7898cfdc84d1e3

[2020-06-02 22:50] #96 closed

[2020-06-03 02:46] #130 closed

[2020-06-03 02:46] TravisWalterLBNL commented on #130
Confirmed fixed.

[2020-06-03 02:53] TravisWalterLBNL opened #159 "should be able to delete multiple composite terms"
In the list of composite terms, I have to delete one term at a time (and I have to confirm by clicking yes in the dialog box). I should be able to delete lots of terms at the same time (e.g., with a "select all" box that I can toggle).

[2020-06-05 18:49] phgupta commented on #156
Fixed in 6b9058b0a7cd156bbd2a5c5a5a12737f9ca88414

[2020-06-05 19:22] robHitchcock commented on #157
Success with import! The error messages really helped me find an appalling number of errors in my mappings once I got past the blank application term message. I have not yet checked export for accuracy.

[2020-06-05 19:22] #157 closed

[2020-06-08 17:36] TravisWalterLBNL opened #162 "application name not unique"
I created a new account and made a new application, but when I set the application name, I got an error message saying that application name is already being used. This account is brand new, so there's no way I have another application with that name (i.e., "espm"). I think the problem is that I have a different account with an application with that name. Uniqueness of application names should be

[2020-06-08 18:38] TravisWalterLBNL commented on #156
Confirmed fixed.

[2020-06-08 18:38] #156 closed

[2020-06-08 21:51] TravisWalterLBNL commented on #152
Not fixed. I imported a .csv then exported it and compared the results. Many rows had mismatched 'BEDES Term Unit'. It seems like there are two different problems here:

1. My composite term ended with the atomic term 'Quantity Intensity'. My import file had 'BEDES Term Unit' = 'count/ft2', but the export file had 'Unknown'. It looks like the unit of the final atomic term was used, but it should o

[2020-06-08 21:54] TravisWalterLBNL commented on #139
The following columns still have trailing newlines in the data (not the header):
BEDES Term Description
BEDES Constrained List Mapping
BEDES Constrained List Option UUID

If these newlines are in the dictionary for the term descriptions, then that's OK, but if they're being added, they shouldn't be.

But, for the constrained list mapping and the constrained list option UUIDs, they should definitel

[2020-06-15 18:14] robHitchcock commented on #152
Confirmed not fixed in my NYSERDA import/export test.

1. All composite terms with a defined import unit of measure, ending in an atomic term where unit = "Unknown" in the dictionary, were overwritten with "Unknown" in the export.

2. Composite terms ending in atomic terms that have a dictionary defined unit of "$" (e.g., "Cost", "Cost Savings", and "Rate Charge Value") have a blank unit of measur

[2020-06-16 00:11] phgupta commented on #152
Fixed in 45b447b3d88601c2694d42c8176a48d3487c4bb4

[2020-06-18 22:28] phgupta commented on #139
Fixed in 32b89e8f630d5680d3ee98790280a7ddfdaf3844

[2020-06-19 20:32] TravisWalterLBNL commented on #139
Fixed (except for the descriptions, because the newlines are in the dictionary).

[2020-06-19 20:32] #139 closed

[2020-06-19 20:56] TravisWalterLBNL commented on #152
Confirmed fixes.

[2020-06-19 20:56] #152 closed

[2020-06-19 20:57] TravisWalterLBNL commented on #114
Confirmed fixed.

[2020-06-19 20:57] #114 closed

[2020-07-20 23:52] TravisWalterLBNL opened #165 "vulnerable dependencies"
I have been receiving emails from GitHub about security advisories related to vulnerable dependencies. The following dependencies should be checked:

lodash
minimist
kind-of
serialize-javascript
set-value
webpack-dev-server
js-yaml

[2020-07-31 15:09] TravisWalterLBNL commented on #165
Another dependency to check:
dot-prop

[2020-08-03 15:48] TravisWalterLBNL commented on #165
Also:
elliptic

[2020-08-20 23:13] TravisWalterLBNL commented on #165
Also:
bcrypt

[2020-09-21 16:45] TravisWalterLBNL commented on #165
Also:
node-forge

[2020-10-20 16:15] TravisWalterLBNL commented on #165
Also:
webpack-subresource-integrity

[2021-01-27 22:23] TravisWalterLBNL commented on #50
Closing because it's not really in the scope of mapping manager functionality.

[2021-01-27 22:31] TravisWalterLBNL opened #166 "allow users to toggle between different BEDES versions"

[2021-01-27 22:39] TravisWalterLBNL commented on #99
Shouldn't be a problem if .csv is put into database correctly in the first place.

[2021-01-27 22:39] #99 closed

[2021-01-27 22:45] TravisWalterLBNL commented on #92
Similarly, when an application becomes BEDES approved, all it's composite terms should become BEDES approved.

[2021-01-27 22:56] TravisWalterLBNL opened #167 "review workflow for mapping terms, creating composite terms, etc."
Also, incorporate different search logic?

[2021-01-27 22:58] TravisWalterLBNL opened #168 "review behavior of sharing, ownership, BEDES approval, etc."
For example, what happens when two users create same composite term? Does it get the same UUID? Which gets approved? Both?

What is approval process?

[2021-01-27 23:01] TravisWalterLBNL commented on #118
Duplicate of issue #162.

[2021-01-27 23:01] #118 closed

[2021-01-27 23:04] TravisWalterLBNL commented on #50
Reopening because it's not a mapping manager fix, but we don't want to forget to do it, so will just change assignee.

[2021-01-27 23:08] #25 closed

[2021-01-27 23:08] TravisWalterLBNL commented on #25
Could not reproduce. Seems like it was fixed somehow.

[2021-02-10 22:15] TravisWalterLBNL commented on #72
To clarify: composite terms should not show up when searching under "BEDES DICTIONARY". They should only be in the example list and in the large .xlsx file under Resources > Common Composite Terms.

[2021-02-10 22:40] TravisWalterLBNL commented on #94
An alert should be given when the user is trying to create a composite term manually from the "Composite Terms" section of the site.

If the user is importing an application, and an app term is mapped to a composite term that already exists as a BEDES approved term, then the behavior should be this: if the UUID of the composite term is specified in the import file and is different than the UUID of

[2021-02-10 22:46] TravisWalterLBNL opened #169 "figure out workflow for approving mappings"
Probably a backend function that just switches the owner to BEDES and sharing to Approved for all composite terms in an application?

[2021-02-10 22:47] TravisWalterLBNL commented on #169
See issue #92.

[2021-02-10 22:48] TravisWalterLBNL commented on #92
To clarify: Making an application public will happen within the mapping manager by the owner of the application. Making an application BEDES approved will be something that happens manually on the backend by LBNL and will probably not happen very often (e.g., quarterly).

[2021-02-10 22:50] TravisWalterLBNL commented on #169
Making an application BEDES approved will be something that happens manually on the backend by LBNL and will probably not happen very often (e.g., quarterly).

[2021-02-10 22:51] TravisWalterLBNL commented on #169
When an application becomes BEDES approved, all of it's application terms and composite terms should become BEDES approved (which means the owner=BEDES and sharing=Approved).

[2021-02-10 22:54] TravisWalterLBNL commented on #71
I shouldn't be able to move the boxes around (i.e., modify the composite term), but I should at least be able to see how the composite term is constructed from atomic terms and list options.

[2021-02-10 23:35] robHitchcock opened #170 "Application Mapping import issues"
1. On successful import all imported terms are displayed with Sharing=unknown. Refreshing the page correctly displays Owner=*me* and Sharing=Private for all BEDES Composite Terms, but this should not take a refresh.
2. Application terms that are mapped to BEDES Atomic Terms currently display blank Owner and Sharing column fields. Appropriate display should be Owner=BEDES and Sharing=Approved for t

[2021-02-10 23:48] robHitchcock opened #171 "Making an Application Mapping Public"
An Application Mapping is made Public by going to the Applications tab (https://bedes-manager.lbl.gov/applications), clicking on the edit pencil icon to the left of the desired Application, selecting the Application Options tab in the upper left, choosing the Public option under the Sharing pull-down list, and clicking the Save button. There are a few issues with this process.

1. A small font not

[2021-02-23 15:27] caseycobb commented on #48
@TravisWalterLBNL this is confirmed. Kevin was able to get his local set up from the README.

[2021-02-23 15:28] #48 closed

[2021-03-04 13:43] HiKanav opened #172 "Getting error while configuring it"
Hi. Thanks for creating this library. I'm trying to install/run, it however I'm getting errors in the initial step.

Here's what I've tried so far:
1. Installed [Docker Desktop on Mac](https://docs.docker.com/docker-for-mac/install/)
2. Cloned [BEDES-Manager repository](https://github.com/LBNL-ETA/BEDES-Manager)
3. Ran the following commands in terminal: `make init_docker` and `docker-compose up`

[2021-04-02 09:45] wizonesolutions commented on #172
@HiKanav Can you try the `feature/firsttimesetup` branch and let us know if that works better? I recently fixed various issues, although I ran it locally using Node.js and not Docker (other than the database).

[2021-04-12 11:43] wizonesolutions commented on #92
@robHitchcock Looks like this is already implemented. I went in, created a composite term, mapped it to an application term, and then made the application public. The composite term then also appeared as public. (Checked a little more; this is done on the backend.)

Regarding the BEDES-approved part, there's no Approved scope for applications right now. Do you want to open a separate issue for tha

[2021-04-12 11:44] wizonesolutions commented on #92
One thing I can do in the context of this ticket is fix the issue where the application's composite term list is not immediately refreshed. They still show Private until the whole app is refreshed.

[2021-04-12 17:42] robHitchcock commented on #92
Thanks. Yes, I believe the private to public process is already implemented correctly. I will start a new issue regarding BEDES approval.
Fixing the issue of not having to manually refresh to see changes would be helpful.

[2021-04-12 17:45] robHitchcock commented on #169
@wizonesolutions It appears Travis already started an issue on the BEDES approval process. But we need to think through that process a bit in order for you to implement any necessary changes.

[2021-04-16 19:26] robHitchcock commented on #171
@wizonesolutions Kevin - I noticed that I created this more explicit issue related to making applications public. This details needed enhancements to the overall process.

[2021-04-23 10:07] wizonesolutions commented on #169
Alright, let me know.

[2021-04-23 10:10] wizonesolutions commented on #171
Yes, these changes have already been implemented in development. I'm not sure what process @caseycobb wants to use for UAT, but at some point we will get sign-off from your end.

The current behavior of point 3, by the way, was to not allow modifying application options once public (except for Admins). So I left it that way and only removed the edit permission requirement that was hiding the Appli

[2021-04-23 10:32] wizonesolutions commented on #94
@TravisWalterLBNL @robHitchcock I am wondering if we should split up this issue to make things simpler. I can see three things we want to do here:

1) More robust duplicate checking. It would be good to specify some concrete examples here so that I can ensure the behavior matches. By concrete examples I mean something like:

[code]

(This is called BDD, but it's not important to follow the format

[2021-04-27 22:15] robHitchcock commented on #162
@wizonesolutions Casey indicated that more information was needed on this issue. I am not sure what you need.

[2021-04-27 23:09] robHitchcock commented on #94
@wizonesolutions Yes we can split this issue up as you indicate.

Here is an example of your #1 duplicate composite term creation:
- Given I am a regular user
- I am manually creating a composite term "Baseline Measure Description" on the Composite Terms tab
- I select the atomic term "Baseline" from the "Temporal Status" constrained list
- I select the atomic term "Measure" from the "Action Categ

[2021-04-27 23:15] robHitchcock commented on #171
I have verified implementation of the dev site as described by Kevin.

[2021-04-28 22:07] robHitchcock commented on #50
I have just noticed that Data Type and Unit of Measure do not seem to be retained from my previous NYSERDA application mapping import. We plan to clean the database prior to deploying the new site. We should verify correct import when we populate the new site.

[2021-04-30 11:36] wizonesolutions commented on #94
Thanks @robHitchcock. This is clear. I think we can keep this as one issue, but I'll update the title to better capture what it is.

[2021-04-30 12:06] wizonesolutions commented on #162
@robHitchcock We were unsure if my planned approach was optimal since we don't know how rigid the database schema is (whether anything else is using it, etc.).

My thoughts/planned approach are:

I think we essentially wanted to check whether Travis had any opposition to database schema changes or any suggestions as to alternatives. The essential suggestion is to add a `mapping_application_names`

[2021-04-30 12:35] wizonesolutions commented on #94
@robHitchcock Actually, just to address Travis's point in https://github.com/LBNL-ETA/BEDES-Manager/issues/94#issuecomment-588501042: in scenario 1, if they try to create "Description Baseline Measure", do we allow that? I am not 100% sure what he meant by checking the individual atomic terms rather than the concatenated name. Your spec seems to say that we should check the concatenated name.

Bas

[2021-04-30 17:26] robHitchcock commented on #94
@wizonesolutions The intent is to check atomic terms. The checking of individual atomic terms would use the UUID of the atomic term rather than the text of the term. That is the basis of the 2nd example where there are two ways to get to "Above Grade Floor Quantity"

Interesting question about order. I believe that order should matter. We should think more about that when Travis returns next week.

[2021-04-30 17:30] robHitchcock commented on #162
@wizonesolutions  This sounds like a lot of effort for this issue. Personally, I do not see the need of allowing duplicate application names. If an application name already exists in the database, a user would have to slightly change their application name to avoid a conflict.

Again, it seems we need to wait for Travis' return since he may have a strong objection to my take on this.

[2021-04-30 17:47] wizonesolutions commented on #94
@robHitchcock Thanks—yeah, for the first one, I will check atomic terms by UUID, since that's the only way to determine if it's a true duplicate. For the second one, those will be checked in the sense that they won't cause the first scenario but might cause the second scenario afterward, if that makes sense. But validation-wise, I have to check the text of the term for the second one (since at tha

[2021-04-30 17:53] robHitchcock commented on #94
@wizonesolutions Sounds good

[2021-05-03 20:02] TravisWalterLBNL commented on #170
Looks like part 1 is covered by issue #112.

[2021-05-03 20:05] TravisWalterLBNL commented on #92
So, this issue can be closed, right? Issue #112 covers the manual refresh topic, and issue #169 covers the BEDES approval topic.

[2021-05-03 20:19] TravisWalterLBNL commented on #162
I still object to requiring application names be unique across different user accounts. Why should my application names have anything to do with anyone else's? However, I could be convinced that this isn't a high priority issue.

As for a fix, I am pretty agnostic. I think we are fine with modifying the underlying database schema, as long as it doesn't cause major issues elsewhere. I had imagined

[2021-05-04 14:06] caseycobb commented on #165
Marking as done - accepted on our JIRA.

[2021-05-04 14:06] #165 closed

[2021-05-04 14:06] caseycobb commented on #171
Marking as done - accepted on our JIRA.

[2021-05-04 14:06] #171 closed

[2021-05-04 14:20] caseycobb commented on #92
@TravisWalterLBNL closing this issue as it has been demoed to and accepted by Rob. Should be on the live Heroku site now.

[2021-05-04 14:20] #92 closed

[2021-05-04 14:20] #71 closed

[2021-05-04 20:05] TravisWalterLBNL commented on #162
Let's consider this medium priority. We can weigh the effort involved and importance against the other medium priority issues when we're ready to start on that level.

[2021-05-05 22:47] TravisWalterLBNL commented on #94
Also, I have a case where I am importing an application mapping that has two different application terms that are both mapped to the same composite term (the UUID is not specified in the import file). The current behavior is that two copies of the composite term are created, each with a different UUID, and each application term is mapped to a different composite term. I think the desired behavior

[2021-05-05 22:52] TravisWalterLBNL opened #173 "Back button doesn't work when searching composite terms"
If I search for composite terms, then click on a particular composite term to inspect it, then I click "Back" (next to "Save"), I would expect to be brought back to my search results. Instead, I am brought back to the full list of composite terms with an empty search query.

[2021-05-05 23:04] TravisWalterLBNL opened #174 "can't specify composite term UUID when importing an application mapping"
When I try to import an application mapping from a .csv file, if I try to specify the UUID of a composite term, I get an error upon import saying "Incorrect BedesAtomicTermUUID. Term=(...)". This happens in all three of the following scenarios:
1. The composite term doesn't exist yet. The composite term should be created and should be assigned the UUID I specified (unless that UUID is already bein

[2021-05-06 17:11] TravisWalterLBNL opened #175 "leading space stripped from Application Term upon import"
When I upload an application mapping that has an application term whose name starts with the space character (e.g., " abc"), the leading space is stripped and I end up with an application term with the name, e.g., "abc". This should not happen. The application term should be whatever I specify in the import file.

[2021-05-06 17:52] TravisWalterLBNL commented on #175
Same issue for constrained list options.

[2021-05-06 17:53] TravisWalterLBNL commented on #175
Make sure to check for leading and trailing spaces, and probably for other strange characters too (e.g., newline).

[2021-05-06 18:26] TravisWalterLBNL opened #176 "progress indicator while importing application mappings"
When waiting for an application mapping to be imported, it would be nice to have some kind of visual indicator to let me know that the manager is working on it, as opposed to being frozen or whatever. I don't think a percentage of completion is necessary. Just a "import in process...", or a spinning hourglass, or something would be fine.

[2021-05-06 18:40] TravisWalterLBNL opened #177 "when viewing composite term, type of term and data type should be displayed"
When I view an application term, all the relevant fields are displayed:
Name
Description
Type of Term
Data Type
Unit
UUID

However, when I view a composite term, 2 of these (type of term and data type) are missing, and should be displayed too.

[2021-05-06 18:43] TravisWalterLBNL opened #178 "incorrect unit displayed for composite term"
I created a composite term (Gross Floor Area) by importing an application mapping and specifying its unit (ft2) in the import file. But when I view the composite term, its unit is incorrectly listed as YYYY-MM-DD. Strangely, when I export the application mapping to .csv, the export file has the correct unit (ft2).

[2021-05-06 18:46] TravisWalterLBNL commented on #50
@robHitchcock Does issue #178 capture the problem you described in your last comment, or is there something else?

[2021-05-06 18:47] TravisWalterLBNL commented on #50
To complete this task, we will first need to convert several mappings from BEDES v2.3 to v2.4.

[2021-05-06 19:17] robHitchcock commented on #178
Also, Data Type is not displayed when viewing a composite term. Should this field be added to the display?

[2021-05-06 19:22] robHitchcock commented on #50
@TravisWalterLBNL I believe my comment here about losing Data Type and Unit of Measure must refer to the display of a mapping under Applications rather than Composite Terms (issue #178) since Data Type is not displayed under Composite Terms.
I think it is confusing to only display Data Type and Unit on the left side (Application Term) of this page. I think Data Type and Unit should also be display

[2021-05-06 20:12] TravisWalterLBNL commented on #178
@robHitchcock See issue #177.

[2021-05-06 20:15] TravisWalterLBNL commented on #50
@robHitchcock I agree that the details should be displayed for both the application term and the mapped term. I will create a separate issue.

[2021-05-06 20:18] TravisWalterLBNL opened #179 "when viewing an application term, details should be shown for mapped term"
If I click on a particular application term in an application mapping, I am brought to a screen that shows the details (description, data type, unit, etc.) for the application term on the left side, but on the right side, I only see the name of the composite term. The right side of the screen should show the same details (description, data type, unit, etc.) for the composite term. Also, somewhere

[2021-05-11 00:00] TravisWalterLBNL opened #180 "mapping manager should be using v2.4 of BEDES dictionary, not v2.3"

[2021-05-11 14:40] wizonesolutions commented on #169
@TravisWalterLBNL Just checking in for any updates.

[2021-05-11 17:04] TravisWalterLBNL commented on #169
No updates yet. We will discuss internally tomorrow and let you know.

[2021-05-11 17:13] TravisWalterLBNL commented on #94
Duplicate checking rules upon import don't need to be the same rules as when creating composite terms manually in the app. In the app, you shouldn't be allowed to create a duplicate of an approved composite term. Upon import, you should be allowed to, but only if you go through the trouble of specifying a UUID for the composite term, and that UUID is different than the UUID of the approved composi

[2021-05-12 18:27] TravisWalterLBNL opened #182 "fix security vulnerabilities"
This is an really on ongoing request to make sure that security vulnerabilities get fixed as they come up. It looks like security vulnerabilities got fixed in commit c3dcb3d, but I just saw a new Dependabot alert about a vulnerability in nodemailer in bedes-backend/package-lock.json. Is there a way to make Dependabot create a new issue automatically whenever it finds something? Or is there a bette

[2021-05-12 18:45] robHitchcock commented on #94
I don't understand the need, nor the wisdom, of allowing duplicate composite terms with conflicting UUIDs. In my mind, it can lead to confusion down the road when/if a user makes the duplicate composite term Public, and then other users include it in their mappings that will be used as the basis for data transformations. Why would a user need a duplicate composite term with different UUID?
I also

[2021-05-12 20:15] TravisWalterLBNL commented on #94
One reason for allowing multiple copies of the same composite term is units. Maybe one user wants the copy of Gross Floor Area that uses ft^2 and another wants m^2. If we only have one copy of the composite term with ft^2, then the user that has m^2 in their application will have to map their application term to a composite term with a different unit.

[2021-05-12 20:19] TravisWalterLBNL commented on #94
I understand not allowing a user to create a composite term that already exists as an approved composite term. However, what should happen if one user creates a composite term and keeps it private, then another user creates that same composite term and wants theirs to be private too? Is there still only one copy? If so, who owns it? Does one user have an application term mapped to a composite term

[2021-05-12 20:29] TravisWalterLBNL commented on #168
For behavior regarding duplicate composite terms, see issue #94.

For behavior regarding approval process, see issue #169.

[2021-05-12 20:36] robHitchcock commented on #94
I think the duplicate composite terms with differing units may actually be an argument against, rather than for. Isn't that how NASA missed Mars?
The complications of duplicate unshared Private terms is a good point. Does import currently check incoming composite terms against all Approved/Public/Private terms indiscriminately? If so, we may need to enhance that checking to allow duplicate Private

[2021-05-12 22:09] robHitchcock commented on #180
Need to clear all Composite Terms and Application Mappings from the current database, then update the Dictionary of Atomic Terms to V2.4.

[2021-05-12 23:23] TravisWalterLBNL opened #183 "investigate whether there is an API available to outside users"
Is it true that the mapping manager frontend is just making calls to an API on the backend? If so, can outside users make calls to the same API? What kind of calls can be made (e.g., search atomic terms, create composite term, map application term to composite term)? Is the API syntax documented? What kind of access credentials are needed to make API calls?

First, we just want to find out if the

[2021-05-13 17:48] TravisWalterLBNL opened #184 "in list of app terms, owner and sharing are blank for atomic terms"
If an application term is mapped directly to an atomic term (rather than to a composite term), when I look at the list of application terms, the Owner and Sharing columns are blank. They should be Owner=BEDES and Sharing=Approved.

[2021-05-13 19:34] TravisWalterLBNL commented on #170
Part 2 is covered by issue #184.

[2021-05-13 20:06] TravisWalterLBNL opened #185 "when searching for terms, composite terms have wrong data type"
On the "Search for Terms" page, in the search results, if the Term Type is Composite Term, the Data Type column currently says Composite Term, but instead it should say the data type of that composite term (e.g., Integer, Decimal, String), as it does with rows where Term Type is Atomic Term. The data type of a composite term is the data type of the rightmost atomic term in the composite term.

[2021-05-13 20:10] TravisWalterLBNL opened #186 "there should be a way to search for application terms"
If I'm on the "Applications" page and I use the search bar, it is search the names of the applications. There should be a place where I can search for the names of application terms. Ideally, I would be able to use the same search bar to search for the names of application terms that are in different applications. An easier, but less ideal, solution would be to put a search bar at the top of the p

[2021-05-13 20:20] TravisWalterLBNL opened #187 "composite term search results should have a columns for data type and unit"

[2021-05-13 20:24] TravisWalterLBNL commented on #95
There is already functionality that allows filtering results, so one solution would be to make the default be to filter the Sharing column on Sharing not equal Public. But, we would need a way to indicate to the user that this filter is there so that they can take it off if they want to see public terms.

[2021-05-13 20:27] TravisWalterLBNL commented on #95
I changed the title of this issue because this same behavior is needed not just when searcing for composite tems, but also when on the "Search for Terms" page (which searches both atomic and composite terms), and when on the "Applications" page.

[2021-05-13 20:31] TravisWalterLBNL opened #188 "search bar messages should say what is being searched"
Currently, all the search bars just say "Search..." or "Search". Instead, each bar should have a different message indicating what is being searched for in that bar:
- On the "Search for Terms" page, it should say "Search for BEDES terms and composite terms...".
- On the "Composite Terms" page, it should say "Search for composite terms...".
- On the "Applications" page, it should say "Search for a

[2021-05-13 20:48] TravisWalterLBNL opened #189 "constrained list options should have data type = String"
There are two places where constrained list options have the wrong data type displayed. It should always be displayed as String instead:
- If I search for a Constrained List Option (e.g., "MN"), the rows corresponding to list options (e.g., "State::MN") have Constrained List in the Data Type column, but they should have String.
- If I click on a BEDES atomic term that is a Constrained List and scr

[2021-05-13 20:54] TravisWalterLBNL opened #190 "search results should be sorted by relevance by default"
On the "Search for Terms" page, if I search for "floor area qualifier", the search results include an atomic term with the exact same name "Floor Area Qualifier", but this is about 15 rows down, below results that are clearly worse matches to my query (e.g., "Floor Height Measurement"). I don't know how results are ordered, but it doesn't seem to be according to how well they match the query, and

[2021-05-13 21:31] TravisWalterLBNL commented on #94
@wizonesolutions Take a break on this issue until we've had a chance to work it out internally.

[2021-05-13 21:32] TravisWalterLBNL commented on #180
@wizonesolutions Please prioritize this over all other issues.

[2021-05-13 22:10] TravisWalterLBNL commented on #178
It seems like the unit is somehow sticking to what it was previously. For example, if I click on a date-related composite term right after I log in, the unit is correctly shown as YYYY-MM-DD, but if I then click on an area-related composite term, it incorrectly shows the unit as YYYY-MM-DD. If I log out and close the broswer tab, then open the site up in a new tab and log back in, but this time I

[2021-05-14 15:03] wizonesolutions commented on #180
@TravisWalterLBNL The existing mappings include an xslx file, but V2.4 is not on https://bedes.lbl.gov/technical-documentation (which appears to be where `BEDES V2.2.xlsx` came from). Do we have the process used to update the terms documented anywhere? I would assume it involves the scripts in the `scripts/ts` directory and that there is a built-in reconciliation process (since I don't think it de

[2021-05-14 16:14] TravisWalterLBNL commented on #183
See issue #2.

[2021-05-14 16:40] TravisWalterLBNL commented on #180
@wizonesolutions Instead of using the .xlsx files at https://bedes.lbl.gov/technical-documentation, you should instead use https://bedes.lbl.gov/bedes-online/all-terms.csv for the atomic terms and https://bedes.lbl.gov/bedes-online/all-lo.csv for the constrained list options. These files should always be the most recent version (currently v2.4).

I'm not sure if the whole process is documented (se

[2021-05-14 16:54] wizonesolutions commented on #180
@TravisWalterLBNL Ah! It wasn't clear to me that we wanted to delete all of those things. That makes it a lot simpler. The existing import scripts use XML; those should be equivalent to the CSV files, right?

[2021-05-14 17:03] TravisWalterLBNL commented on #180
Yes, we want to delete everything except user login info. All the current atomic terms, composite terms, mappings etc. are using v2.3 of the BEDES dictionary, which is not compatible with v2.4, so for now, the only way to upgrade versions is to just delete everything.

The .xml versions of those two files should be equivalent to the .csv versions, so feel free to use those.

[2021-05-14 17:25] robHitchcock commented on #189
@TravisWalterLBNL I don't know that Constrained List Options currently have a Data Type property. I'm not sure their Data Type should be String since this implies to me that it is a "variable" capable of holding an arbitrary string value. Shouldn't a Data Type of "Constrained List Option" be assigned to them if they have a Data Type property?

[2021-05-14 18:13] TravisWalterLBNL commented on #189
@robHitchcock Good point. I agree with Data Type = Constrained List Option. This means the first bullet above is fine as is. I will close this issue and create a new issue addressing the second bullet.

[2021-05-14 18:13] #189 closed

[2021-05-14 18:15] TravisWalterLBNL opened #191 "don't show data type or unit for constrained list options"
If I search for an atomic term that is a constrained list (e.g., Credential State), then click on the term and scroll to the bottom where it says Constrained List Options, that table should not have "Data Type" and "Unit" columns. It should only have "Name" and "Description".

[2021-05-18 14:39] wizonesolutions commented on #180
@TravisWalterLBNL Status-wise on this: I have to enhance the XMLTermLoader to be able to create new data. As it is, it functions as a term updater. Only the XLSX importer can create new data, but we don't have a v2.4 version of that.

We were probably going to have to figure out a sustainable approach to this eventually, anyway, so may as well do it now.

By the way, v2.2 of the XML included an `A

[2021-05-18 16:25] TravisWalterLBNL commented on #180
In general, I think a term creator that will be used to replace the entire version X dictionary with version X+1 will be used way more commonly than a term updater, so I focus much more on a creator than an updater.

Agreed with doing it now the right way so we don't have to do it later (see issue #106).

I'm not sure I know what an Application property for a term or list option would be. Other th

[2021-05-18 17:23] robHitchcock commented on #180
The Application property was originally used to indicate where the term came from (e.g., ESPM), or where it applied. We decided to drop this property since it was not that useful and not being updated.

[2021-05-18 19:29] wizonesolutions commented on #180
Yes, it's synonymous with Definition Source. Great; I'll drop the handling
code.

On Tue, May 18, 2021, 19:23 Rob Hitchcock ***@***.***> wrote:

[2021-05-19 16:24] wizonesolutions commented on #180
Note: The site seems to generate invalid XML for empty fields, e.g.

[code]

It should be `<Definition />` and `<Sector />`. I'll fix these manually, but we should fix those at source too at some point.

[2021-05-19 16:31] wizonesolutions commented on #180
Actually, the keys should be omitted entirely. The schema checker fails otherwise.

[2021-05-19 16:32] TravisWalterLBNL commented on #180
@robHitchcock, correct me if I'm wrong, but I'm pretty sure both those two .xml files (and the two .csv files) are generated automatically by the Drupal site, which is maintained by @caseycobb. So, if there is an error with the .xml creation, he would need to fix it.

I don't know .xml, but these empty fields do seem to be handled correctly in the .csv files.

[2021-05-19 16:40] wizonesolutions commented on #180
Actually, the previous import worked this way too, and it imported alright. I'll see if I can tweak things to work.

[2021-05-19 17:00] robHitchcock commented on #180
Correct, the scripts that generate the CSV/XML docs are related to the Drupal site that Casey and friends have been maintaining.

[2021-05-19 18:03] wizonesolutions commented on #180
I got the XML import working. There were no blank definitions in the past,
so I loosened the validation.

I have to get the list option importer fixed now, and then I'll get a
staging copy set up for you to poke through and double-check before we
update prod.

On Wed, May 19, 2021, 19:00 Rob Hitchcock ***@***.***> wrote:

[2021-05-19 22:12] TravisWalterLBNL commented on #190
It seems like this is not an issue when searching in the "Composite Terms" tab, so maybe look at what that search bar is doing and copy it.

[2021-05-19 23:05] TravisWalterLBNL opened #192 "should be able to make all changes to public application"
If I create an application, then change its sharing from Private to Public, I am no longer allowed to modify the application terms, or the application options (name, description, sharing), but I should be able to.

[2021-05-19 23:08] TravisWalterLBNL opened #193 "issue warning when mapping to a public composite term"
When I am mapping an application term to a composite term, if the composite term I select is public and owned by someone else (other than a BEDES approved term), I should get a warning that says something like "Caution: You are mapping your application to another user's public term, which could be changed or deleted at any time. Map term anyway?".

[2021-05-19 23:24] TravisWalterLBNL commented on #169
Closing this issue, which was meant for discussion of behavior. Instead, will open a separate issue with specific instructions.

[2021-05-19 23:24] #169 closed

[2021-05-19 23:32] TravisWalterLBNL opened #194 "script for approving a mapping"
We need a script that can be run on the backend that can be given the name of an application and will do the following:
- Change the application's properties to owner=BEDES and sharing=Approved.
- For each application term in the application, if the app term is mapped to a composite term, and if that composite term is owned by the owner of the application, change the composite term's properties to

[2021-05-20 17:13] TravisWalterLBNL commented on #94
Closing this issue for clarity. I will create new more specific issues as necessary.

[2021-05-20 17:13] #94 closed

[2021-05-20 18:01] TravisWalterLBNL opened #195 "should get warning if user tries to create another copy of a composite term they have already created"
If I have already created a particular composite term (either manually, or by importing from .csv), and then I try to make another copy of that same composite term, when I click "Save", a dialog should pop up that says something like "This composite term already exists. Are you sure you want to create another copy?". The dialog should have a link to the currently existing copy of the composite ter

[2021-05-20 18:12] TravisWalterLBNL opened #196 "multiple copies of same composite term should not be created upon import"
When I import an application mapping using a .csv file, I can have multiple application terms that are mapped to the same composite term (e.g., multiple rows with the same values in the "BEDES Term" and "BEDES Atomic Term Mapping" columns). Currently, when I import such a .csv file, the result is that multiple copies of the same composite term are created (each with different UUIDs), and each app

[2021-05-20 18:23] TravisWalterLBNL opened #197 "issue warning when mapping app term to another user's public composite term"
When I map one of my application terms to a composite term, if the composite term I selected is public and owned by another non-BEDES user, I should get a confirmation dialog when I click "Save" that says "Are you sure you want to use another user's term? It may be edited or deleted at any time.".

[2021-05-20 19:52] TravisWalterLBNL opened #198 "app term should become unmapped if public composite term it was mapped to is changed back to private"
If user1 creates a composite term and makes it public, then user2 maps an application term to that composite term, then user1 changes the composite term from public back to private, user2's application should become unmapped (since they should no longer have access to user1's private composite term). Currently, user2's application term stays mapped to user1's composite term even after user1 make t

[2021-05-20 19:53] TravisWalterLBNL commented on #168
Closing this issue. Opened separate issues regarding sharing and ownership and duplicate removal when necessary. Will open separate issues about BEDES approval once it has been implemented and can be tested.

[2021-05-20 19:53] #168 closed

[2021-05-21 17:10] wizonesolutions commented on #180
@TravisWalterLBNL I'm encountering a new issue with the 2.4 dataset: several list options have the same UUID.

This doesn't appear to have been the case in 2.2, and the database structure isn't designed for it. And I think that's for good reason; if the semantically same constrained list option can be associated with multiple terms, then it is not "universally-unique." That is, if we look it up by

[2021-05-21 17:48] TravisWalterLBNL commented on #180
@robHitchcock, let me know if I am not remembering correctly.

I think we intentionally chose to allow a particular list option to be an element in more than one list. For example, there is a term called "State" and another term called "Credential State", and both should just be a list of all the states. Similarly, there are some list options like "Other" and "Unknown" that should be a list option

[2021-05-21 17:50] robHitchcock commented on #180
We should loop @caseycobb into this discussion. We did change some handling of list options on the Drupal site. For example, we included the generic options like "Unknown" and "Other" in all constrained lists. I believe we also made it so that a list option could be referenced by multiple constrained lists. So, this would likely lead to the non-unique UUIDs.

[2021-05-21 17:56] robHitchcock commented on #180
So this complicates checking for duplicate composite terms that use the same list option from different constrained lists. It means that you need to check the constrained list as well as the list option to detect this case.

[2021-05-22 11:07] wizonesolutions commented on #180
The setup scripts for the app are using 2.2. I'm not sure it ever used 2.3
(unless there are no traces of the importer work on that), so I'm not sure
the code is modified for that.

What Rob says is right. We will have to store the constrained list ID in
composite terms if we don't already and always check list ID + option name.
We may as well remove the UUID field from list options.

That makes t

[2021-06-04 10:29] wizonesolutions commented on #194
@TravisWalterLBNL Are there any other similar scripts you currently run? I'm wondering if we should do this as Admin functionality in the app and handle the details on the backend similar to how we do when making an application public (the composite terms also get made public).

[2021-06-04 16:33] TravisWalterLBNL commented on #194
No, we don't run any other scripts like this. I suggested making this a script because I thought that would be easier, but if you think doing it in the app as an admin would be easy, I'm fine with that approach too.

[2021-06-04 17:02] wizonesolutions commented on #194
I think it's rather similar to making things public, so I'll see if I can
copy some of that for making it Approved.

On Fri, Jun 4, 2021, 18:33 Travis Walter ***@***.***> wrote:

[2021-06-22 17:12] wizonesolutions opened #199 "App term export should escape double quotes"

[2021-06-22 17:12] wizonesolutions commented on #199
@TravisWalterLBNL for prioritization

[2021-06-22 18:39] TravisWalterLBNL opened #200 "ensure list of units in database matches "Unit Of Measure" constrained list"

[2021-06-23 16:01] wizonesolutions commented on #180
@TravisWalterLBNL Deployed to live and ready for you to validate. `app_term.description` column fixed, missing `Other` unit added, BEDES dictionary 2.4 imported without errors. At a cursory glance, things look OK to me. If all checks out, I think we're done with this issue.

[2021-06-23 18:26] TravisWalterLBNL commented on #180
There is still something wrong with the description for the "Project Name" term:
<img width="1440" alt="Screen Shot 2021-06-23 at 11 25 50 AM" src="https://user-images.githubusercontent.com/22945142/123149148-d18ccf00-d415-11eb-891b-2e7d6b8f26df.png">

Since the description looks fine at https://bedes.lbl.gov/bedes-online/project-name, maybe something is going wrong during import?

[2021-06-23 19:07] TravisWalterLBNL opened #201 "progress indicator when importing an application mapping"
When I import an application mapping with a lot of terms, it can take a while before the list of application terms is updated. In the meantime, it's not clear whether my terms are actually being imported, or if the import failed silently. There should be some kind of progress indicator, or hourglass icon, or at least a message saying something like "import is underway. please wait...".

[2021-06-23 19:56] TravisWalterLBNL commented on #180
Same problem with "Control Communication Protocol". Is there a systematic way to find these? I'm just finding them one at a time by chance, and am not confident I have found them all.

[2021-06-23 20:12] TravisWalterLBNL commented on #180
Same problem with "Diversion Rate".

[2021-06-23 22:50] wizonesolutions commented on #180
I think I saw that the XML importer is expecting a specific set of opening
tags in the underlying HTML. Some descriptions might not match what it
expects, since they are HTML fields in Drupal. Do we expect the formatting
to match in BEDES Manager, or do we just want the text? That might be
something we should fix on the Drupal export side if we can.

Do you want to roll back live while we fix this

[2021-06-24 02:04] TravisWalterLBNL commented on #180
The mapping manager should only care about the text exported from Drupal, not the formatting. Whether that formatting should be removed in the Drupal content, or ignored in the Drupal export, or ignored by the mapping manager import is up to you.

No need to roll back live. If we make these fixes on live, will it affect existing composite terms or application mappings? I'm guessing no, since we wo

[2021-06-24 10:29] wizonesolutions commented on #180
It would be easiest to wipe the terms again if you can reimport them, yes.
Then I won't have to modify the import script too much, so we'll save time.
We might want to support updating in the future for things like this, but
it's probably not a frequent occurrence yet.

On Thu, Jun 24, 2021, 04:04 Travis Walter ***@***.***> wrote:

[2021-06-24 13:01] TravisWalterLBNL commented on #180
OK, go ahead and wipe and I will reimport. Let's worry about allowing updating later.

[2021-06-24 21:49] wizonesolutions commented on #180
@TravisWalterLBNL Can you validate on stage? I'll do the same changes on prod if it looks good. Note that we switched to Heroku Postgres to make staging faster, so it should be nicer to use now.

https://bedes-mapping-manager-staging.herokuapp.com/bedes-term/8bfb2292-d621-422f-86ae-407ac895ea67 looks good to me now, as well as the other 19 (I was able to find 20 instances with a regex search in th

[2021-06-25 01:39] TravisWalterLBNL commented on #180
Staging looks good to me.

[2021-06-25 13:35] wizonesolutions commented on #180
Live should be good now. Give it a look when you get a chance.

[2021-06-25 13:35] wizonesolutions commented on #180
(accidental closure)

[2021-06-25 13:50] wizonesolutions commented on #194
@TravisWalterLBNL To be clear, should composite terms that are **not** owned by the owner of the application simply remain Public, but locked (since we don't allow editing the application anymore)?

[2021-06-25 17:52] TravisWalterLBNL commented on #194
No. No matter who owns the composite terms, if the application is approved, all of the composite terms should be changed to have owner=BEDES and sharing=Approved.

[2021-06-25 18:52] TravisWalterLBNL commented on #180
Looks good on production, so closing this issue. @wizonesolutions, please make sure that any temporary workarounds either make it into the codebase, or are documented in another issue.

[2021-06-25 19:56] wizonesolutions commented on #180
Yeah, the workaround for the file format is in the codebase.

On Fri, Jun 25, 2021, 20:53 Travis Walter ***@***.***> wrote:

[2021-06-25 19:59] #180 closed

[2021-07-21 17:57] wizonesolutions commented on #190
@TravisWalterLBNL can I get a couple examples of composite term searches that _do_ work well?

[2021-07-22 00:02] caseycobb commented on #190
@wizonesolutions remember that Travis is out this month. I think at the very least, maybe we could run a "similarity" function that would prioritize exact matches, or matches with common words?

[2021-07-22 00:13] robHitchcock commented on #190
Sorry, I'm out this month too. If you're desperate for this I can look into
it in the next few days.

Rob

On Wed, Jul 21, 2021, 6:03 PM Casey Cobb ***@***.***> wrote:

[2021-07-22 01:20] caseycobb commented on #190
@robHitchcock enjoy your time off. We can handle it!

[2021-07-24 18:19] wizonesolutions commented on #190
I've pushed what I think is the fix to staging. Floor Area Qualifier now appears first for both screens you mentioned.

We essentially had no ordering in the query. I added ordering based on the full-text `ILIKE` queries as per https://dba.stackexchange.com/questions/66356/in-postgresql-is-there-a-way-to-rank-weigh-columns-so-as-to-order-the-results. That seemed to work well.

Can y'all review whe

[2021-07-29 10:34] wizonesolutions commented on #178
This is ready for review on stage.

[2021-07-29 10:34] wizonesolutions commented on #185
Ready for review on stage.

[2021-07-29 16:20] wizonesolutions commented on #194
There's a scope issue; for some reason we have been using `scope_id` 3 (Approved) for Public mapping applications. But since we don't actually use the `name` field in the DB, I will just add a fourth one called `Approved (Application)` to the DB and use that. Should be fine. It's a foreign key in the `mapping_application` table, and the `scope` table requires the name to be unique.

We may want to

[2021-08-02 17:42] TravisWalterLBNL commented on #190
I just tested this on staging (https://bedes-mapping-manager-staging.herokuapp.com), and something is wrong. I click on "Search for Terms", entered the search term in the box, then clicked the "Search" button. The "Search" button turned gray and spinning circle of dots came up, and after waiting over 30 seconds, I still see no results and the "Search" button is still gray with the spinning dots.

[2021-08-02 17:53] wizonesolutions commented on #190
That sounds like a server error occurred. I'll give this a spin after I
deploy the other two issues and take a look.

On Mon, Aug 2, 2021 at 7:42 PM Travis Walter ***@***.***>
wrote:

--
Kevin Kaland
Project Ricochet

[2021-08-02 18:36] wizonesolutions commented on #199
Deploying to staging. Check in about 15 mins.

[2021-08-02 18:37] wizonesolutions commented on #194
Deploying to staging. Check in about 15 mins. I implemented this feature using the existing scope UI, so (when logged in as an admin) you make a mapping application approved the same way you make it Public.

[2021-08-02 18:56] wizonesolutions commented on #190
[image: image.png]

Looks good to me. Let me know.

On Mon, Aug 2, 2021 at 7:53 PM Kevin Kaland ***@***.***>
wrote:

--
Kevin Kaland
Project Ricochet

[2021-08-02 18:56] wizonesolutions commented on #190
I think actually that the issue was caused by something that I fixed in one
of the tickets I just deployed, so this makes sense. I ran into the same
thing locally.

On Mon, Aug 2, 2021 at 8:55 PM Kevin Kaland ***@***.***>
wrote:

--
Kevin Kaland
Project Ricochet

[2021-08-02 19:00] wizonesolutions commented on #190
![image](https://user-images.githubusercontent.com/344116/127910472-b92b6070-38a8-4a36-8971-79ff8756ddbe.png)

[2021-08-02 19:25] TravisWalterLBNL commented on #190
Looks good on staging.

[2021-08-02 19:41] TravisWalterLBNL commented on #185
Looks good for a composite term that I just created, but the terms that I had previously imported are still showing Data Type = Composite Term.

[2021-08-02 19:51] TravisWalterLBNL commented on #178
As with issue #185, this seems to be fixed for newly created composite terms, but not for previously imported composite terms. Strangely, when I click on a previously imported composite term after clicking on a newly created composite term, I now see all the details from the newly created term (BEDES Terms, Unit, UUID, etc.), rather than just the unit, even though the UUID in the URL does seem to

[2021-08-02 19:54] TravisWalterLBNL commented on #199
Fixed on staging.

[2021-08-02 20:06] TravisWalterLBNL commented on #194
How do I know if I am logged in as an admin? Will I see "Approved" under "Sharing" when I am editing an application's options?

I'm assuming new accounts are non-admin accounts. If so, how does a non-admin account get turned into an admin account?

[2021-08-03 11:28] wizonesolutions commented on #194
Yes. The bedes-manager account is an admin account. I'll have to check how admin privileges are granted. Might be manual.

[2021-08-04 21:35] TravisWalterLBNL commented on #194
How can I get access to that admin account, so I can try it out?

[2021-08-05 11:03] wizonesolutions commented on #194
Credentials should be the same as prod. Do you not have access to it on
prod?

On Wed, Aug 4, 2021, 23:35 Travis Walter ***@***.***> wrote:

[2021-08-05 14:24] TravisWalterLBNL commented on #194
I didn't even know there was such a thing as an admin account. How about we exchange credentials on a call or something?

Besides being able to approve mappings, is there any other difference between a regular account and an admin account? Can the admin account see the terms owned by all users, even if they are private?

[2021-08-10 14:25] ccobb-lbl commented on #194
@TravisWalterLBNL how is this looking for you? Anything else needed?

[2021-08-10 20:34] TravisWalterLBNL commented on #194
The sharing status is changed to "Approved", but the owner is not listed as BEDES (it's listed as me).

[2021-08-11 08:56] wizonesolutions commented on #194
The owner has to be an actual user as it's currently designed. I chose to
use the approving admin. Should we add a placeholder user called BEDES and
hardcode that into the codebase for now, maybe?

On Tue, Aug 10, 2021, 22:34 Travis Walter ***@***.***> wrote:

[2021-08-11 16:04] TravisWalterLBNL commented on #194
It's fine to use the approving admin as the owner. We just need to make sure there is an admin user named BEDES.

[2021-08-11 16:11] wizonesolutions commented on #194
Ok, if you create one with that name on staging, I can promote it, so we
can test.

On Wed, Aug 11, 2021, 18:05 Travis Walter ***@***.***> wrote:

[2021-08-11 17:48] TravisWalterLBNL commented on #194
I'm having trouble getting my name to be "BEDES" because both first and last name are required. The best I can do is "BEDES  " (with two spaces at the end). Can we make it so that only one name is required (and make sure the space between first and last name is dropped if one of the names is blank)? Can you think of another solution?

[2021-08-11 18:24] TravisWalterLBNL commented on #194
Now I'm also having trouble creating a new account with the same email.

I wonder if the outer route would be easier: Would it be difficult to just set the owner of the dataset to "BEDES" when it is approved (rather than using the name of the admin who approved it)?

[2021-08-11 20:17] wizonesolutions commented on #194
Perhaps we can still set it to the approving admin behind the scenes but
always display it as BEDES if it's approved?

On Wed, Aug 11, 2021, 20:24 Travis Walter ***@***.***> wrote:

[2021-08-11 20:31] TravisWalterLBNL commented on #194
Yes, that sounds like a good solution.

[2021-08-11 21:33] robHitchcock opened #203 "Search results on Search for Terms tab"
Searching for "model" returns appropriate hits for Atomic Terms and Constrained List Options at the top, but then seems to include all Composite Terms that have nothing related to "model" like "Energy Management And Information Systems Boolean", which does not contain "model" in its term name nor in its definition. In fact, I don't think the Search for Terms search list should include any Composit

[2021-08-11 21:40] robHitchcock opened #204 "Search results on Applications - New Term - Map to existing Term"
Searching for "model" returns appropriate hits for Atomic Terms and Constrained List Options at the top, but then seems to include Composite Terms that have nothing related to "model" like "Energy Management And Information Systems Boolean" either in their term name or in their definition. This search results list should include Composite Terms, but only those related to the search key word(s).

[2021-08-11 22:15] TravisWalterLBNL opened #205 "typo in button text"
When I make a new application term, on the right side, underneath "Mapped Term", the button says "Map To exisiting BEDES Term", but it should say "Existing" (i.e., capitalized, and with only two copies of the letter i).

[2021-08-12 11:01] wizonesolutions commented on #203
I think this might be a dupe of the search ticket we did recently. Have you
tested this on staging? https://bedes-mapping-manager-staging.herokuapp.com

Let me know if the search ranking fixes there help.

On Wed, Aug 11, 2021, 23:33 Rob Hitchcock ***@***.***> wrote:

[2021-08-12 11:02] wizonesolutions commented on #204
See comment on #203, although I suspect this issue might still exist in staging. Worth double-checking though; let me know.

[2021-08-12 15:55] TravisWalterLBNL commented on #205
On second thought, the text for this button should be "Map To Existing Term", since we can map to either BEDES atomic terms, or to composite terms (which are not "BEDES Terms").

[2021-08-12 15:58] TravisWalterLBNL commented on #203
@robHitchcock The first part of this (appropriate results) seems to be fixed on staging (see issue #190). Do you agree?

@wizonesolutions The second part of this is still valid. Under the "Search for Terms" menu, the results should only include BEDES dictionary atomic terms and constrained list options. Composite terms should not be shown here.

[2021-08-12 15:58] TravisWalterLBNL commented on #204
@robHitchcock This seems to be fixed on staging (see issue #190). Do you agree?

@wizonesolutions However, the search results for "Map To Existing BEDES Term" should only contain BEDES atomic terms and composite terms. Constrained list options should not be included in these search results (because application terms cannot be mapped directly to list options).

[2021-08-12 16:02] TravisWalterLBNL commented on #200
What is the status on this issue? Did we do a manual fix for now, but have not yet implemented a permanent fix?

[2021-08-12 16:06] TravisWalterLBNL commented on #178
If it is too difficult to apply this fix retroactively, one option would be to just delete and re-import all our mappings. The downside is that if someone has already mapped an application term to one of those composite terms, then that mapping would be broken. Is there a way to check if any of those composite terms have been mapped to (e.g., by other user accounts with private mappings)? If not,

[2021-08-12 16:06] TravisWalterLBNL commented on #185
Same comment as on issue #178: https://github.com/LBNL-ETA/BEDES-Manager/issues/178#issuecomment-897764363

[2021-08-12 17:14] robHitchcock commented on #204
@TravisWalterLBNL Not sure I know which site is the staging one at this point. The issue is not fixed on https://bedes-mapping-manager.herokuapp.com/search

[2021-08-12 17:46] TravisWalterLBNL commented on #204
Staging is here: https://bedes-mapping-manager-staging.herokuapp.com/

[2021-08-12 17:58] robHitchcock commented on #204
The Search For Terms results (e.g., for "model") on Staging still includes Composite Terms.

[2021-08-12 18:05] wizonesolutions commented on #178
We're looking into this. Will let you know.

On Thu, Aug 12, 2021, 18:06 Travis Walter ***@***.***> wrote:

[2021-08-12 18:07] TravisWalterLBNL commented on #204
Yes, but this issue is about the "Map To Existing Term" search results. The "Search For Terms" results are addressed in issue #203.

[2021-08-12 18:22] robHitchcock commented on #204
Sorry, I got confused.

The "Map To Existing Term" search results on Staging still include many, many Composite Terms that do not include the search key word. The example I keep using for testing is "model" which returns Composite Terms like "Actual Annual Cooling Degree Days Weather Metric Value" that has no "model" word in it, nor I believe do the definitions of the atomic terms used in the comp

[2021-08-12 18:54] TravisWalterLBNL commented on #204
This is strange. When I search for "model" under "Map To Existing Term" on staging, I see 17 results: 2 atomic terms, 4 constrained list options, and the rest are composite terms (all owned by me). All of the composite terms contain either "Model" or "Remodel" in their name. I don't see "Actual Annual Cooling Degree Days Weather Metric Value", even though that term is owned by me, and I do see it

[2021-08-12 19:03] robHitchcock commented on #204
![image](https://user-images.githubusercontent.com/7998768/129253705-061a1ca9-a8f7-45ef-baf8-f8db443ad463.png)
[Model Search Results.docx](https://github.com/LBNL-ETA/BEDES-Manager/files/6977880/Model.Search.Results.docx)

[2021-08-12 19:07] robHitchcock commented on #204
I get the same results using Edge instead of Chrome
![image](https://user-images.githubusercontent.com/7998768/129254419-d88912db-8754-40a9-ab77-91ac217f925f.png)

[2021-08-12 19:10] robHitchcock commented on #204
Similar results when searching "project"

![image](https://user-images.githubusercontent.com/7998768/129254779-7b951a3a-d61a-4b7a-b6ef-0d5786910c90.png)

[2021-08-12 19:27] robHitchcock commented on #204
@TravisWalterLBNL I have created some Public Composite Terms: Heat Pump Model Number, Heat Pump Location, Project Identifier. Try searching for "Map To Existing Term" for some random text and see if these appear now in your results.

[2021-08-12 20:07] TravisWalterLBNL commented on #204
Very strange. I see all 3 of those composite terms when I search for "cooling" under "Map To Existing Term". Also, when I search for "model" now, I see the same results as before, but I also see those 3 composite terms. I still don't see "Actual Annual Cooling Degree Days Weather Metric Value" when I search for "model", but I do see it when I search for "cooling".

@wizonesolutions I think you'll

[2021-08-12 20:17] robHitchcock commented on #204
Perhaps the search results are somehow including all Public Composite Terms for users other than yourself?

[2021-08-12 22:48] TravisWalterLBNL opened #206 "remove length limit for descriptions"
There should be no limit on the length of descriptions. Or, the limit should be very large (e.g., 10k characters).

This applies to the descriptions for both BEDES atomic terms and for application terms.

[2021-08-12 22:51] TravisWalterLBNL opened #207 "should be able to modify or delete an application after making it public"
If I create an application and it is private, I can delete it or modify it. But, once I have made it public, I am no longer able to. Making it public should affect who else can see it, but it shouldn't affect what I can do to it. As long as I am the owner, I should be able to modify it. I should also be able to change it back from public to private.

[2021-08-12 23:35] TravisWalterLBNL opened #208 "composite term should be assigned unit in import file"
I imported an application mapping from a .csv file, and in the file was a new composite term. In the file, I specified a unit for the composite term (m2) that did not match the unit (ft2) for the final atomic term (Area) in the composite term. When the composite term was created, it should have been assigned the unit m2, but it was assigned ft2. If I specify the unit in the import file, it should

[2021-08-14 00:44] ccobb-lbl commented on #200
@wizonesolutions , I still see this in todo in our JIRA, but I thought we had everything pretty much wrapped up except for a couple points Diego is working on. Please share an update when you can. @TravisWalterLBNL, if it's not already done (but in the incorrect status), it should be done shortly.

[2021-08-16 13:58] wizonesolutions commented on #200
This is in code review now. It's not user-testable since we've already addressed the missing units on stage/production.

I suggest we leave this open (but maybe assigned to @TravisWalterLBNL) until it is time to update the dictionary to v2.5, which is being worked on. If that goes well, we can close this. Or, we can close it and open a separate issue if we run into any import issues with 2.5.

Rem

[2021-08-16 20:40] TravisWalterLBNL commented on #200
Let's leave this open and assigned to @caseycobb. If the v2.5 import goes as planned, we'll close this issue then.

[2021-08-17 14:32] wizonesolutions commented on #178
@TravisWalterLBNL Can you re-check this or link me to some examples of this not working for old terms? Here's what I did:

- I loaded the current production code without the fix
- I loaded NYSERDA, which created private composite terms as that user
- I confirmed the issue with the "sticky" unit display
- I switched to the code with the fix
- I logged in as the same user and ensured that the unit n

[2021-08-17 16:06] wizonesolutions commented on #194
This is on staging now. Take a look and let me know.

On Wed, Aug 11, 2021 at 10:31 PM Travis Walter ***@***.***>
wrote:

--
Kevin Kaland
Project Ricochet

[2021-08-19 16:16] TravisWalterLBNL commented on #194
OK, this looks good on staging.

[2021-08-20 09:40] wizonesolutions commented on #185
@TravisWalterLBNL Please try to re-import/recreate some composite terms on staging and see if this and #178 are working now.

[2021-08-20 21:02] TravisWalterLBNL commented on #185
@wizonesolutions I just looked at staging and I'm not seeing any of the BEDES atomic terms. It looks like you need to re-import the BEDES dictionary.

[2021-08-23 17:56] wizonesolutions commented on #185
@TravisWalterLBNL Sorry about that. It's re-imported now.

[2021-08-23 18:41] TravisWalterLBNL commented on #178
Fixed on staging.

[2021-08-23 18:41] TravisWalterLBNL commented on #185
Fixed on staging.

[2021-08-24 13:37] wizonesolutions commented on #159
@TravisWalterLBNL Do we have similar "select all" functionality elsewhere in the application? (Asking for estimation purposes.)

[2021-08-24 13:42] wizonesolutions commented on #186
Do you mean that you want to search for application terms within applications when on the application overview page?

The second option, a simple filter search for application terms in a given application is probably easier, but let's talk about the first option more.

Would the search results be a list of applications or a list of application terms? If application terms, seems like we would need

[2021-08-24 14:29] wizonesolutions commented on #207
Partial overlap with #192. I'll handle "able to modify application terms and options" in that one and "able to change from public back to private and delete" in this one. In practice, I'll likely tackle them together.

[2021-08-24 18:01] TravisWalterLBNL commented on #159
No, I don't think there is any "select all" funcionality elsewhere.

[2021-08-24 18:15] TravisWalterLBNL commented on #186
There is no need to search the names of applications. It is unlikely there will be so many applications that they can't be quickly browsed through or sorted alphabetically to find what someone is looking for. Instead, it would be useful to search for application terms within applications, without needing to know which application it is in.

So, we would probably need a new page for application ter

[2021-08-24 18:17] TravisWalterLBNL commented on #207
Agreed. Significant overlap with issue #192. Let's keep both to make sure all aspects are handled.

[2021-08-24 18:17] TravisWalterLBNL commented on #192
Significant overlap with issue #207. Let's keep both to make sure all aspects are handled.

[2021-08-25 15:27] wizonesolutions commented on #204
@TravisWalterLBNL @robHitchcock Could y'all reassess this now that we've refreshed the data on staging, just so we can rule that out and narrow down what fix(es) is/are needed here?

[2021-09-08 16:33] #190 closed

[2021-09-08 16:34] #178 closed

[2021-09-08 16:34] #185 closed

[2021-09-08 16:34] #194 closed

[2021-09-08 16:35] #199 closed

[2021-09-24 16:28] wizonesolutions commented on #95
@TravisWalterLBNL We do have the filter, but as you say, we need a way to indicate it to the user. The filter is a text filter, as well, which isn't intuitive.

![image](https://user-images.githubusercontent.com/344116/134709093-074c4c9a-d90f-419f-9a44-cf9c4d46f4f5.png)

I'm going to add a checkbox to the right of the Search button that says, "Also show public terms" ("Also show public application

[2021-09-24 16:31] wizonesolutions commented on #95
Ah, actually, using that filter only reduces the result set, so I will have to do it through the API anyway. By default, it won't send Public terms in the result payload, but when the checkbox is checked, they will be included. The user will have to filter for them manually if they want.

[2021-09-28 14:05] wizonesolutions commented on #95
@TravisWalterLBNL @caseycobb  following up on this

[2021-09-28 17:16] TravisWalterLBNL commented on #95
I'm not sure I understand. Do you have a version I can experiment with? Or, do you need more information?

[2021-09-29 09:23] wizonesolutions commented on #95
I'll do this up as it is in my head and put it on staging. We can tweak the
visuals from there as necessary. That'll be easier. The backend work won't
be significantly different regardless.

On Tue, Sep 28, 2021, 19:16 Travis Walter ***@***.***> wrote:

[2021-10-08 17:19] robHitchcock opened #209 "Modifying Public Application Mappings"
The owner of an Application mapping should be able to modify it after making it Public.
Currently, after making an application Public the owner can no longer edit Application Options, add New Terms, or Import/Export Application Terms (CSV)
![image](https://user-images.githubusercontent.com/7998768/136596824-8402945b-5e2b-4301-9574-4b00d417a429.png)
![image](https://user-images.githubusercontent.co

[2021-10-08 23:33] TravisWalterLBNL commented on #50
Closing because all of the currently completed application mappings have been uploaded and made public (even if they haven't been marked as approved).

[2021-10-12 18:35] wizonesolutions commented on #209
@TravisWalterLBNL Thanks for the confirmation. cc @caseycobb

[2021-10-14 18:24] robHitchcock commented on #192
@wizonesolutions I tested changes on staging.
1. After changing an Application mapping created and owned by me from Private to Public, I cannot edit any of the Application Term properties (Application Term Name, Description, Type of Term, Data Type, Unit).
2. I was able to delete the Mapped Term, but was not then able to select another BEDES term for the mapping.
3. I was able to modify Applicatio

[2021-10-18 19:31] wizonesolutions commented on #95
Question 3: Right now, anonymous visitors cannot search for applications. Should we restrict seeing Public applications to authenticated users as well, or should the checkbox be shown in both scenarios/

[2021-11-01 15:48] wizonesolutions commented on #95
That's #203, which isn't done yet. However, I'll remove the frontend changes there, since we know it's coming.

[2021-11-01 16:30] wizonesolutions commented on #95
I cannot reproduce this:
![image](https://user-images.githubusercontent.com/344116/139705936-c0ce5f1f-5896-4e90-9659-7587fbfcef86.png)

Both as an admin and as a regular user, I see Rob's term when the box is checked. Could you have missed it in the output, or not clicked the Search button again after checking the box? That dialog does not update as you type. We may want to open an issue to try an

[2021-11-01 16:31] wizonesolutions commented on #95
Yes, that's the reason. As a regular user, I see:

![Uploading image.png…]()

[2021-11-01 16:32] wizonesolutions commented on #95
I've pushed the Search for Terms fix, and it's deploying. Check in 15 minutes or so.

[2021-11-01 17:31] TravisWalterLBNL commented on #95
OK, I can see the term now. First, I typed the search string, then I clicked "Search", then I checked the "Show public terms" box, but I couldn't see the term. But, if I clicked "Search" again, the term showed up. Similarly, in order to make the term go away, I had to first uncheck "Show public terms", then click "Search". So, it looks like the "Show public terms" checkbox doesn't take any affect

[2021-11-01 17:33] TravisWalterLBNL opened #210 "all search boxes should update as you type"
If I modify my search string, I shouldn't need to click "Search" to update the search results. They should update automatically as I type in the search box. Similarly, I shouldn't need to click "Search" to make the "Show public terms" checkbox affect the search results. The search results should update automatically when the checkbox is toggled.

[2021-11-03 23:30] TravisWalterLBNL opened #211 "non-logged in user shouldn't be able to unmap application terms"
Without logging in, I clicked on a public application term in a public application, and the application term was mapped to a composite term. I clicked the X next to the composite term and was able to unmap the application term (i.e., the button turned gray and now says "map to existing bedes term"). I shouldn't be able to unmap someone else's application terms, even if they are public. Public mean

[2021-11-04 17:18] TravisWalterLBNL commented on #211
Same issue when logged in as one user and being able to unmap a different user's application term.

[2021-11-04 17:23] TravisWalterLBNL commented on #211
Downgraded from high priority to medium because the application term doesn't actually get unmapped. Initally, it appears as though it's unmapped, but if you go back to the list of application terms and refresh the page, the mapping is intact. So, this is really just a display issue. The desired behavior would be that the mapped term is grayed out (indicating it can't be modified, as with the appli

[2021-11-04 17:44] TravisWalterLBNL commented on #95
There's still something strange going on: When I first go to the site, then go to the "Composite Terms" page, the "Show public terms" box is unchecked and I don't see any public terms. This is correct. If I then check the "Show public terms" box, I see some public terms. Still correct. But, if I then go to the "Search for terms" page, then back to the "Composite Terms" page, the "Show public terms

[2021-11-04 19:21] wizonesolutions commented on #95
I think I know what's causing this. It's easier to fix it by having the checkbox keep its state and tying that to whether we're showing public terms or not. Is that an OK solution for you, or do you specifically want the state of everything to reset when leaving and coming back?

[2021-11-04 21:22] TravisWalterLBNL commented on #95
The easy fix sounds fine to me.

[2021-11-08 18:35] wizonesolutions opened #212 "Upgrade backend and scripts to TypeScript 4.4"
The frontend will be on 4.4 once we deploy the Angular upgrade. We should get backend and scripts on the same version. I took a quick pass at this, but the backend had a lot of type errors to resolve. Thus, I'm opening an issue for prioritization.

Everything compiles to JavaScript, so different TypeScript versions won't usually cause any issues running the application. However, shared `bedes-comm

[2021-11-08 18:42] wizonesolutions commented on #95
This should be up on staging in about 15 minutes. This also includes the Angular 13.0 upgrade, so put the application through its paces and test things like importing a mapping CSV. I spot-tested login, search, etc. on my end, so I expect it will all still work.

[2021-11-08 19:16] wizonesolutions commented on #95
(Build broken; debugging.)

[2021-11-08 21:02] wizonesolutions commented on #95
It's back up.

[2021-11-15 13:05] wizonesolutions commented on #95
Have you had a chance to review this?

[2021-11-15 13:06] wizonesolutions commented on #95
@TravisWalterLBNL

[2021-11-15 17:33] TravisWalterLBNL commented on #95
OK, this looks good to me. @robHitchcock, have you had a chance to test this?

[2021-11-15 19:14] robHitchcock commented on #95
@TravisWalterLBNL @wizonesolutions I have tested the new search with Show public terms checkbox. Very nice, rapid dynamic display of search results. Show public terms checkbox seems to work well.
I also tested import of CSV for a new Application. The import worked with all new terms created in the Application Terms list. However, the new terms listed in the Application had Owner blank, and Sharing

[2021-11-17 22:42] robHitchcock commented on #95
@TravisWalterLBNL @wizonesolutions My mistake - the blank Owner and Sharing fields issue is covered in another issue because the blanks are for Atomic Terms, not Composite Terms.

[2021-11-17 22:44] TravisWalterLBNL commented on #95
@wizonesolutions OK, this looks good on staging. Let us know when it has been pushed to production and we'll test it there.

[2021-11-22 11:46] wizonesolutions commented on #95
@TravisWalterLBNL @robHitchcock This is on production now.

[2021-11-22 11:48] wizonesolutions commented on #192
This one is on production too now.

[2021-11-22 11:48] wizonesolutions commented on #207
This issue is on production now @TravisWalterLBNL @robHitchcock

[2021-11-22 16:06] wizonesolutions commented on #209
This is deploying to staging. Give it 10 minutes or so.

- Fixed the screen update issue and made public applications/app terms editable for users with permission.
- Also made some internal fixes to the data tables (listings). Let me know if any expected functionality there such as filtering is missing. Looked OK on my side, but I didn't check them all since they are made using the same pattern.

[2021-11-30 16:52] wizonesolutions commented on #159
Plan for this:

- attempt to add a column with a checkbox to the terms the user can delete
- when any of those checkboxes are selected, display a "Delete Selected Terms" button
- clicking the button prompts the user to confirm ("You are about to delete [NUMBER] composite terms. Are you sure?"), then deletes the selected terms

[2021-12-06 16:33] wizonesolutions commented on #159
This is on staging now along with the other one I mentioned last week. I am aware that the "Delete Selected" button being all the way at the bottom isn't the best, but I didn't want to waste time fighting the layout and figured we could handle it separately. Functionally, everything is solid.

[2021-12-06 17:25] wizonesolutions commented on #186
@TravisWalterLBNL @robHitchcock One question I need your input on: When browsing to a search result, do we want to open the _application_ or the _application term_? In my mind, the application makes more sense so that they can see the application term in context (and since they are typically not going to edit it, as they wouldn't be searching for their own application).

Do you agree?

[2021-12-06 17:41] wizonesolutions commented on #186
Here is a mockup of what I'm thinking:

[BDS-48.pdf](https://github.com/LBNL-ETA/BEDES-Manager/files/7662492/BDS-48.pdf)

An alternative idea I considered but decided was better to save for later was to split the Applications screen in two (or have a tab on it) and have the application terms there. But I felt that there wasn't enough space for both tables to be displayed comfortably, and that I wo

[2021-12-06 18:19] robHitchcock commented on #186
@wizonesolutions I am not sure what you mean by "When browsing to a search result". Your mockup looks ok to me. Do you mean when the user goes "deeper" by selecting the button to the left under Application Name? I'm not sure what that would do, or even if it is needed.

[2021-12-06 18:42] wizonesolutions commented on #186
@robHitchcock Yes, that's what I mean. Let's back up, then: if someone's searching for an application term, what might they want to do when they find it? I thought that the pencil icon would view the application. If there are no actions they can take after searching, what is the purpose of the search? That's how I think about it.

[2021-12-06 18:44] wizonesolutions commented on #159
QA instructions:

- go to the composite terms page
- ensure you've created some terms
- select two or more
- click the Delete Selected button that appears at the bottom
- click Yes
- ensure only the selected terms are deleted

Also test that viewing and deleting individual terms still works as expected.

[2021-12-06 18:59] robHitchcock commented on #186
@wizonesolutions @TravisWalterLBNL I will let Travis chime in on this. I believe the intent of being able to search Application Terms is to see if an existing Application has already mapped an Application Term similar to one I am wanting to map, and if so, what Composite Term (or possibly Atomic Term) they used/created for their mapping. This is most likely part of the new process we have defined

[2021-12-06 19:00] TravisWalterLBNL commented on #186
The mockup looks good to me, except I would change the order of the columns to this: Application Term Name, Mapped BEDES Term Name, Application Name, Owner, Sharing.

If I click on one of the search results, I should see the same page I would see if I first clicked on an application, then clicked on an individual application term (i.e., the app term name, description, data type, unit, etc. on the

[2021-12-06 19:43] TravisWalterLBNL commented on #159
Looks good to me.

The only thing I noticed was that the application term mappings don't seem to get updated when a composite term is deleted:
- create a new composite term
- create a new app term
- map the new app term to the new composite term
- delete the new composite term
- click on the app term in the list of terms for that app
- on the right side, the deleted composite term is still listed

[2021-12-06 19:55] TravisWalterLBNL commented on #209
Looks good on staging.

[2021-12-06 20:09] TravisWalterLBNL opened #213 "should be able to export public applications"
If I click on an application that is owned by someone else but is public, the "Export Application Terms" button is grayed out. If an application is public, anyone should be able to export it to .csv, whether they own it or not.

[2021-12-06 20:12] TravisWalterLBNL commented on #207
See new issue #213 for being unable to export public applications.

[2021-12-07 14:18] wizonesolutions commented on #159
Just to clarify: Did app terms get updated upon deleting composite terms previously? I am not deleting the terms any differently, so I suspect this doesn't happen if you delete individual terms either. Might be something we should open as a separate issue.

[2021-12-07 14:19] wizonesolutions commented on #186
Thanks @TravisWalterLBNL , that makes sense and answers my question as to what a typical visitor would want to do with the information.

[2021-12-07 18:17] TravisWalterLBNL opened #214 "app term still mapped to composite term after composite term deleted"
If I map an application term to a composite term, then delete the composite term, then view the application term, the composite term still shows up on the right side of the screen under "Mapped Term", implying the application term is still mapped to the (now deleted) composite term. Instead, it should say "Map To Exisiting BEDES Term" undeneath "Mapped Term". It seems like this is only a display i

[2021-12-07 18:19] TravisWalterLBNL commented on #159
I confirmed that this happens on production too: I delete the composite term, it still shows as being mapped to, but isn't in the exported .csv. So it seems like this is unrelated to this issue (#159). I moved this into a separate issue: #214.

So, that means the fix for this issue (#159) is ready to deploy to production.

[2021-12-07 18:37] #95 closed

[2021-12-07 18:38] TravisWalterLBNL commented on #95
Looks good on production. Closing this issue.

[2021-12-07 19:14] TravisWalterLBNL commented on #213
Did this get pushed to production along with #192, #207, and #209? Because this one (#213) seems to be working fine on production.

[2021-12-07 19:17] TravisWalterLBNL commented on #213
Nevermind. I'm able to export my own public application, but I can't export public applications owned by someone else. So, this issue is still open.

[2021-12-07 19:26] TravisWalterLBNL commented on #192
For clarity, let's move all remaining conversation about this issue to #209 instead (since there is so much overlap).

[2021-12-07 19:26] TravisWalterLBNL commented on #207
For clarity, let's move all remaining conversation about this issue to #209 instead (since there is so much overlap).

[2021-12-07 19:47] TravisWalterLBNL commented on #209
I'm testing all these overlapping issues (#192, #207, #209, and #213) on production. Let's put the remaining unresolved things from #192 and #207 here, and the things specific to exporting with #213.

Here's what works:
- I can't modify composite terms or applications that are public but owned by someone else.
- I can modify and delete public composite terms owned by me.
- I can delete an applicat

[2022-01-24 13:46] wizonesolutions commented on #186
@TravisWalterLBNL Just to update progress, this one will take longer than expected because more code was missing from the frontend than I anticipated. I thought I would be able to expand on the existing app term code, but it is built around the concept of having an active application or application term. This is solvable; it just takes more time.

I'm endeavouring to maintain the schedule I sent y

[2022-01-31 16:54] wizonesolutions commented on #186
@TravisWalterLBNL App terms can be mapped to both atomic and composite terms, but only composite terms have owners. What do we show in the Owner column if the mapped term is atomic? "BEDES"?

[2022-01-31 16:55] wizonesolutions commented on #186
Never mind; I believe you intended Owner and Sharing to represent the _application_ rather than the mapped term.

[2022-01-31 17:39] TravisWalterLBNL commented on #186
Wherever we are on the site, if we are showing details for atomic terms, their owner should be "BEDES" and their sharing should be "Approved". For example, the "Search for Terms" page (on production) currently shows this correctly.

In the mockup from Dec. 6, the owner and sharing columns should correspond to the application term (which will have the same owner and sharing as the application itsel

[2022-02-02 18:17] wizonesolutions commented on #186
Thanks. This ticket is on staging now. Have a look and let me know if anything looks wrong. Pay particular attention to scopes/ownership/permissions.

Right now, I have deliberately re-used the application edit screen, so clicking the application's Back button will take you back to the application screen. I figured it was not worth making a whole new screen just for this, and that we could do it i

[2022-02-03 22:34] TravisWalterLBNL commented on #186
This looks great. Once it's deployed to production and tested there, I will close this issue.

Re-using the application edit screen is fine.

[2022-02-04 17:09] wizonesolutions commented on #159
This is on production now for final review.

[2022-02-04 17:10] wizonesolutions commented on #170
This is on production now, and I think it wound up being done since I see that I updated the column names in applications.

[2022-02-04 17:11] wizonesolutions commented on #209
Can you check this again on staging/production? I am seeing the correct behavior with a non-admin and admin user on an application they are the owner of. I can also unmap. Be sure to click Save after unmapping.

[2022-02-04 17:11] wizonesolutions commented on #186
Deployed to production.

[2022-02-04 22:56] TravisWalterLBNL commented on #214
Seems to be fixed on production.

[2022-02-04 22:56] #214 closed

[2022-02-04 22:57] TravisWalterLBNL commented on #159
Fixed on production.

[2022-02-04 22:57] #159 closed

[2022-02-04 23:19] TravisWalterLBNL commented on #170
Part 3 is fixed on production. Parts 1 and 2 covered by other issues.

[2022-02-04 23:19] #170 closed

[2022-02-04 23:31] TravisWalterLBNL commented on #186
Looks good on production.

[2022-02-04 23:31] #186 closed

[2022-02-05 00:07] TravisWalterLBNL commented on #209
I'm not sure what was happening before, but everything seems to be working on production now. Closing #209, #207, and #192, but leaving #213 open.

[2022-02-05 00:07] #209 closed

[2022-02-05 00:07] TravisWalterLBNL commented on #207
See #209.

[2022-02-05 00:07] #207 closed

[2022-02-05 00:08] TravisWalterLBNL commented on #192
See #209.

[2022-02-05 00:08] #192 closed

[2022-02-08 17:46] TravisWalterLBNL opened #215 "update BEDES dictionary to v2.5"
The BEDES atomic terms and list options are currently version 2.4 of the BEDES dictionary, and we need to update to version 2.5. There have been both additions and deletions of atomic terms and list options. Some application mappings are compatible as is, and some need changes.

First, we will need to delete all atomic terms and list options, and also all composite terms, application terms, and ap

[2022-02-13 22:06] TravisWalterLBNL commented on #179
Can we make it so the right side mirrors the left side more closely?
1. Move everything on the right side down so that the descriptions are aligned vertically.
2. Put "Type of Term", "Data Type", and "Unit" in the same row (and line it up vertically with the left side).
3. Line up the UUIDs vertically.
4. Put "Sharing" and the owner of the mapped term in the same row.
If things seem crowded vertic

[2022-02-14 13:45] wizonesolutions commented on #179
@TravisWalterLBNL I'll give it a shot. The two columns are laid out independently (top-to-bottom). We don't have Type of Term or Data Type columns in there right now. Given that you also specified Owner (which also isn't on the composite term edit page), I'm assuming you want all those columns added and will do that.

The Sharing/Owner line will extend down and be its own thing since the Applicati

[2022-02-14 18:55] wizonesolutions commented on #179
@TravisWalterLBNL Changes made. Have a look in ~20 minutes after this comment.

[2022-02-15 17:22] TravisWalterLBNL commented on #179
This looks great. Can you just remove "Type of Term" from both the left and right side (and keep "Data Type" and "Unit" in the same row)? "Type of Term" isn't necessary if we alread have "Data Type".

[2022-02-16 11:45] wizonesolutions commented on #179
Done. This will be up on staging by the time you check it.

On Tue, Feb 15, 2022 at 6:22 PM Travis Walter ***@***.***>
wrote:

--
Kevin Kaland
Project Ricochet

[2022-02-16 15:05] wizonesolutions commented on #195
@TravisWalterLBNL I am also restricting this to truly-new composite terms right now. If they edit one that they've already saved and it winds up matching an existing one, the dialog won't be shown. That's because implementing that would introduce the issue of duplicate terms _that they had requested created anyway_ causing the dialog to show every time they edited one of the copies.

Having the di

[2022-02-16 16:51] wizonesolutions commented on #195
This is deploying to staging. Have a look in around 20 mins. This is how it looks:

![image](https://user-images.githubusercontent.com/344116/154314042-fd085e03-df74-4a7a-b6a2-7e5048d2f984.png)

[2022-02-16 18:09] wizonesolutions commented on #203
This one's deploying to staging as well. Check in around 20 minutes. Pay special attention to that composite terms still appear other places you expect them to, just not on Search for Terms.

Could you also comment whether you're still seeing the exact same behavior in #204? I'm just wondering if the various changes we've made to search since have improved it at all.

[2022-02-18 10:39] wizonesolutions commented on #204
@TravisWalterLBNL Asked about this one in #203. I'll read the history and take a look myself today, so disregard that question. I will re-ask if I can't figure out what should be done from the existing conversation or have trouble reproducing the issues 👍

[2022-02-21 21:53] TravisWalterLBNL commented on #179
Looks good on staging. Will close after testing on production.

[2022-02-21 21:57] TravisWalterLBNL commented on #195
Correct. This issue is only referring to an "exact same" composite term (i.e., the same atomic terms and list options, in the same order). If the order is different, it should be considered a different composite term, and this issue should not apply.

[2022-02-21 22:06] TravisWalterLBNL commented on #195
Looks good on staging. Will close after testing on production.

[2022-02-21 22:27] TravisWalterLBNL commented on #204
Looks good on staging. Will close after testing on production.

[2022-02-21 22:27] TravisWalterLBNL commented on #203
Looks good on staging. Will close after testing on production.

[2022-02-23 16:43] wizonesolutions commented on #203
Deployed to production.

[2022-02-23 16:43] wizonesolutions commented on #204
Deployed to production.

[2022-02-23 16:43] wizonesolutions commented on #195
Deployed to production.

[2022-02-23 20:16] TravisWalterLBNL commented on #179
Fixed on production.

[2022-02-23 20:16] #179 closed

[2022-02-23 20:18] TravisWalterLBNL commented on #195
Fixed on production.

[2022-02-23 20:18] #195 closed

[2022-02-23 20:20] TravisWalterLBNL commented on #203
Fixed on production.

[2022-02-23 20:20] #203 closed

[2022-02-23 20:20] TravisWalterLBNL commented on #204
Fixed on production.

[2022-02-23 20:20] #204 closed

[2022-02-25 17:29] TravisWalterLBNL opened #216 "redesign of page for mapping app terms"
Casey and Kevin will break this task into separate pieces, and keep track of them internally.

[2022-02-28 14:51] wizonesolutions commented on #215
@TravisWalterLBNL Alright, the terms are imported to staging. Can you test importing NYSERDA's applications and make sure you'll be able to restore them as expected? Remember to edit the exports and remove the Composite Term UUID column so that new composite terms get created (it'll fail otherwise).

I took a backup that I can roll back if necessary, and will do the same for production when we upd

[2022-02-28 18:11] TravisWalterLBNL commented on #215
I tried to import one my mappings and I'm getting an error message saying `Unrecognized BEDES Term "Premises Level " ...`. At first I thought the issue might be that the error message has an extra space after "Level" (i.e., the correct BEDES term is "Premises Level"), but when I went to search for that BEDES term under "Search for Terms", I couldn't find that term, or any other BEDES terms. So, it

[2022-02-28 18:12] wizonesolutions commented on #215
Ah, that's strange. Something seems to have happened with the import. Taking a look.

[2022-02-28 18:59] wizonesolutions commented on #215
@TravisWalterLBNL Resolved. I import into staging from my local environment, and my env file was still pointing to the old staging database. Have another look if you would.

[2022-02-28 21:12] TravisWalterLBNL commented on #215
OK, the atomic terms seem fine now.

I am having one issue with importing app terms with unmapped constrained list options. Say I have an app term "Color" that is a constrained list and it has list options "Red", "Blue", "Green". Can I import this app term and have its list options recorded, even though they aren't mapped? I tried specifying "Red\nBlue\nGreen" in the "BEDES Constrained List Mappin

[2022-03-07 12:49] wizonesolutions commented on #215
@TravisWalterLBNL I went ahead and did that. I'll take a look at list option importing and what format it is expecting, assuming that it can map blank

 Could you also post or email me your CSV? I'll test that locally as well if I'm still in doubt later.

[2022-03-07 17:59] TravisWalterLBNL commented on #215
I attached two versions of the file I was trying to import that has unmapped list options. One specifies the list option mappings as "Red\nBlue\nGreen" and the other specifies "Red = \nBlue = \nGreen = ". For example, see the app term "HistoricalLandmark".
[bsync---no-equals-sign.csv](https://github.com/LBNL-ETA/BEDES-Manager/files/8199812/bsync---no-equals-sign.csv)
[bsync---with-equals-sign.csv]

[2022-03-07 18:17] TravisWalterLBNL opened #217 "unable to import and export unmapped constrained list options"
When importing and exporting applications, I should be allowed to have constrained list options that are not mapped from the app term constrained list to the mapped term constrained list.

A very typical workflow would be that I create a .csv file outside of the mapping manager that specifies the app terms and their list options, then I import that .csv to the mapping manager, then map the app ter

[2022-03-07 18:17] TravisWalterLBNL commented on #215
I opened a new issue (see #217) for importing and exporting unmapped constrained list options, but I think we'll need to fix that issue before we can fully test this one.

[2022-03-08 18:05] wizonesolutions commented on #217
@TravisWalterLBNL The file format should be the same on the way out and in, so I'm assuming that you meant that you would include the equal signs for import as well. That is, `AppListOpt1 =\nAppListOpt2 = CompTermListOpt2`. The number of spaces around the equal sign will almost certainly not be important, as preceding and subsequent space will be removed, as it already is for the app term list opt

[2022-03-08 21:19] wizonesolutions commented on #217
@TravisWalterLBNL Alright, the fix is deploying to staging 👍. Have a look in 15-20 minutes. I took a look to see if I could fix the issue with the list options not showing the correct mappings right after import, but it wasn't straightforward, and it didn't seem worth holding this up for when we have a workaround, so I'll do it as part of #216.

[2022-03-09 00:15] TravisWalterLBNL commented on #200
It seems like something might be wrong with this. I was trying to test this issue by making [an application](https://github.com/LBNL-ETA/BEDES-Manager/files/8210489/units.csv) that used every legal value of unit, but when I try to import from .csv, I get the error message "Incorrect BedesTermUnit. Term=($)", seemingly indicating that something is wrong with the unit for the first app term "$". How

[2022-03-09 00:27] TravisWalterLBNL opened #218 "approving an application creates an extra copy"
I created a new application and exported some app terms and composite terms from a .csv file using my regular account. I logged out and logged back in as an admin user, then went into the application options for the newly created account and changed Sharing to Approved. This caused the application to show up twice in the list of applications, and each of the app terms to show up twice in the list

[2022-03-09 02:11] wizonesolutions commented on #217
Do you mean that if some list options are mapped for the app term, it's
okay, but if _none_ are, then you see issues?

On Wed, 9 Mar 2022, 00:12 Travis Walter, ***@***.***> wrote:

[2022-03-09 03:01] TravisWalterLBNL commented on #217
When I opened the issue, I only tested 2 cases: all mapped and none mapped.

However, I just checked by importing a new app from .csv, and all 3 cases (all, none, some) are working correctly.

[2022-03-09 20:03] wizonesolutions commented on #217
Ah, so the issue you reported was essentially due to the refresh issue?
Should I deploy this and the dictionary update, or do we have any
stragglers? Ah, I believe #200 was blocked by #218? I will take a look at
your comments again.

On Wed, Mar 9, 2022 at 4:02 AM Travis Walter ***@***.***>
wrote:

--
Kevin Kaland
Project Ricochet

[2022-03-09 21:47] TravisWalterLBNL commented on #217
I don't think it's a refresh issue because the app term that I imported when I first noticed the issue has been refreshed, but its list options still aren't there. I'm realizing now that it is related to whether the app term is mapped to a composite/atomic term or not. For example, [this file](https://github.com/LBNL-ETA/BEDES-Manager/files/8218376/tmp.csv) has two app terms that both have unmappe

[2022-03-09 21:48] wizonesolutions commented on #218
Ah, yes, I have encountered this one myself. It's actually only one application in the database (if you delete one, I believe both disappear), but I think something in one of the queries is confounding things. It probably happened when we implemented the Approved status, then implement the "show public" checkbox.

In technical terms, the database query is probably resulting in a cross multiply dur

[2022-03-09 21:51] wizonesolutions commented on #217
Oh, that probably makes sense, then. You may want to add a follow-up to add additional or refine existing validation for that case. But yeah, if it's not mapped, then the message is accurate. It's just a question of whether we should allow the import in the first place, really, but not a blocker at this point, it doesn't seem?

[2022-03-09 22:31] wizonesolutions commented on #218
Yep, the issue was exactly as I thought. I've make a fast fix for this issue to unblock us. It's deploying to staging, so check in 15-20 mins.

Then, we should open a follow-up to fix it properly. Basically, when approving an application, the administrator is given an Owner role. I'm not actually sure why this happens, since they have access anyway, and it's not necessary. A non-admin owner can't

[2022-03-09 23:24] wizonesolutions commented on #200
Simple issue: the `id` of `$` happened to be `0`, and the code wasn't validating precisely enough. Fix deploying to staging. Check in 15-20 mins.

[2022-03-09 23:45] TravisWalterLBNL commented on #217
We need to allow importing of an app term with constrained list options, whether or not the app term or list options are mapped. A very commong use case is someone starting with unmapped app terms, importing them into the mapping manager, then using the manager to map the app terms and list options. So, in that previous example, both "tmp 1" and "tmp 2" should show the app term list options.

[2022-03-09 23:48] TravisWalterLBNL commented on #200
OK, this looks good on staging. I'll close this issue after testing on production.

[2022-03-09 23:51] TravisWalterLBNL commented on #218
OK, the duplicates are gone on staging. I'll keep this open to remind us that it needs a permanent fix, but I'll change it to low priority.

[2022-03-10 01:23] wizonesolutions commented on #217
Ah, I see. Probably what I need to ensure is that if list options are
mapped, we set the term type of the app term to Constrained List. That
governs if the list options display. I'll check the logic for that tomorrow
and see if it's a straightforward fix. Could you attach a minimal CSV to
reproduce the issue if you have time? Thanks.

On Thu, 10 Mar 2022, 00:45 Travis Walter, ***@***.***> wrote:

[2022-03-10 18:02] TravisWalterLBNL commented on #217
Here is an example .csv file: [list-options.csv](https://github.com/LBNL-ETA/BEDES-Manager/files/8225855/list-options.csv). There are 3 app terms, all 3 are constrained lists with the same 2 list options (True and False).
1. For term1, the app term is not mapped to a composite/atomic term, and the list options are not mapped either. The desired behavior is for the list options to be displayed as u

[2022-03-10 18:07] TravisWalterLBNL commented on #217
Here is a new version of [list-options.csv](https://github.com/LBNL-ETA/BEDES-Manager/files/8225904/list-options.csv) with an additional app term (also a constrained list with the same 2 list options).
4. For term4, the app term is mapped to an atomic term, 1 of the list options (True) is mapped, and the other list option (False) is unmapped. The desired behavior is for True to be displayed as map

[2022-03-10 18:30] wizonesolutions commented on #217
Yes, I found that we simply weren't importing list options if the term wasn't mapped. I almost have a fix for this. I am also _requiring_ during validation that app term list options are unmapped so that the person importing doesn't get surprised if they accidentally include a mapping and it gets ignored.

[2022-03-10 18:36] TravisWalterLBNL commented on #217
We shouldn't require list options to be unmapped. For example, in list-options.csv, the desired behavior for term3 is that the list options get imported and are displayed as mapped.

One use case is importing an app that specifies unmapped list options, then mapping the terms and list options using the mapping manager. But, another valid use case is to just be able to import and mapping that has a

[2022-03-10 18:42] wizonesolutions commented on #217
Yes, what I mean is this specific use case: "When importing an app term that is not mapped to a constrained list, the list options cannot be mapped because there is no BEDES constrained list to map to. Therefore, the list options in the CSV must not be mapped."

In all other cases, we do not require list options to be unmapped. Did that clarify? I can remove the validation; I just think it makes s

[2022-03-10 18:48] wizonesolutions commented on #217
Fix is in place, and I'll deploy it to staging. Try re-testing in 15-20 minutes.

I tested with this CSV:
[bsync---with-equals-sign---abbreviated-someunmapped.csv](https://github.com/LBNL-ETA/BEDES-Manager/files/8226136/bsync---with-equals-sign---abbreviated-someunmapped.csv)

When I tried to map a list option under BuildingClassification (which is unmapped in my example) in the CSV, I received an

[2022-03-10 20:56] wizonesolutions commented on #217
Ok, I will look at this by Monday. Basically, we want "=Unknown" or even
"=" to be valid.

Is this currently possible through the UI?

On Thu, 10 Mar 2022, 21:00 Travis Walter, ***@***.***> wrote:

[2022-03-10 21:30] TravisWalterLBNL commented on #217
Correct.

Currently, the UI doesn't allow this: If you click "New List Option", the "List Option Name" field is required. I don't know if that's just a frontend check, or if it is disallowed by the backend.

[2022-03-10 23:51] wizonesolutions commented on #217
I've fixed this in the UI and changed validation to allow the empty string, specifically. Fortunately, there's nothing in the database schema preventing it. That would have complicated things.

Have a look in about 15 minutes.

[2022-03-11 03:36] TravisWalterLBNL commented on #217
OK, everything looks good on staging.

[2022-03-16 22:45] TravisWalterLBNL commented on #200
Fixed on production.

[2022-03-16 22:45] #200 closed

[2022-03-16 22:45] TravisWalterLBNL commented on #217
Fixed on production.

[2022-03-16 22:45] #217 closed

[2022-03-16 22:46] TravisWalterLBNL commented on #215
Fixed on production.

[2022-03-16 22:46] #215 closed

[2022-03-25 17:05] wizonesolutions commented on #216
@TravisWalterLBNL Alright, the initial version of this is deploying to staging. Check in ~15 minutes.

**Note:** This version doesn't have a link to application terms or filter checkboxes for composite term selection _yet_. This is because I wanted you to test the full workflow and be able to prioritize what you'd like me to do with the time I have left up to the high estimate on the ticket (which

[2022-03-28 18:53] TravisWalterLBNL commented on #216
This is looking good.

How about a "Search Application Terms" link right below the "Map to existing ..." and "Map to new ..." links? That link should just bring me to the same page as when I click "Application Terms" at the top, except it should open it in a new tab so I don't have to navigate back to the particular app and app term that I was working on.

After using this a little, I am second gu

[2022-03-28 19:06] wizonesolutions commented on #216
Great, thanks for the feedback. I'll get this in for you tomorrow. Barring
any unexpected layout issues, it'll take me about 10 minutes.

On Mon, 28 Mar 2022, 20:54 Travis Walter, ***@***.***> wrote:

[2022-03-29 13:03] wizonesolutions commented on #216
@TravisWalterLBNL Change should be there by the time you see this. I added a small icon to visually indicate that it opens a new tab.

[2022-03-29 19:54] TravisWalterLBNL commented on #167
See issue #216.

[2022-03-29 19:54] #167 closed

[2022-03-29 20:53] TravisWalterLBNL commented on #216
Looks good. As of now, this issue seems to be done, but I want to hold it open so I can do some more testing.

[2022-03-31 17:27] wizonesolutions commented on #216
Sounds good, thanks for testing. I've deployed the changes to production and confirmed that they are there. Glad we were able to progress efficiently on this issue. It will be a nice base for future UI enhancements.